@using MEDLATEC.BusinessLayer;
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    var TinNoiBat = (List<Cms_News>)ViewBag.TinNoiBat;
    var NewsCate = (List<Cms_News>)ViewBag.NewsCate;
}

@section Note {
    <title>Chẩn đoán hình ảnh | Bệnh viện đa khoa Medlatec</title>

    <meta name="description" content="Chuyên khoa Chẩn đoán hình ảnh thuộc bệnh viện đa khoa medlatec, Chuyên khoa Chẩn đoán hình ảnh. Medlatec Quy tụ nhiều bác sĩ đầu ngành về lĩnh vực Chẩn đoán hình ảnh ở trong và ngoài nước" />
    <meta property="og:description" content="Chuyên khoa Chẩn đoán hình ảnh thuộc bệnh viện đa khoa medlatec, Chuyên khoa Chẩn đoán hình ảnh. Medlatec Quy tụ nhiều bác sĩ đầu ngành về lĩnh vực Chẩn đoán hình ảnh ở trong và ngoài nước" />
    <meta name="title" content="Chuyên khoa Răng hàm mặt | Bệnh viện đa khoa Medlatec" />
    <meta property="og:title" content="Chuyên khoa Chẩn đoán hình ảnh | Bệnh viện đa khoa Medlatec" />
    <meta name="keywords" content="Chuyên khoa Chẩn đoán hình ảnh" />







    <meta property="og:image" content="https://medlatec.vn/Content/images/Chuyen-khoa/anh-chinh-cdha.jpg" />


    <meta property="og:type" content="article" />
    <meta property="fb:app_id" content="2092985977431269" />
    <meta property="og:url" content="https://medlatec.vn/chuyen-khoa/chan-doan-hinh-anh" />



    <meta name="robots" content="index,follow,all">
    <link rel="canonical" href="https://medlatec.vn/chuyen-khoa/chan-doan-hinh-anh" />
}

@using (Html.BeginForm("Chandoanhinhanh", "Service", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{


  
    <div class="breadcrumb-container container">
        <ul class="clearfix">
            <li><a href="https://medlatec.vn">Trang chủ</a></li>
            <li><a href="https://medlatec.vn/chuyen-khoa">Chuyên khoa y tế</a></li>
            <li><a href="#">Chuyên khoa Chẩn đoán hình ảnh</a></li>

        </ul>
    </div>

    <div class="specialist specialist-child container">
        <div class="specialist-child--row row">
            <div class="specialist-child--col col-xl-9 col-lg-8">
                <h1>Chẩn đoán hình ảnh</h1>
                <div class="specialist-child--desc">
                    Kết quả chẩn đoán chính xác, phục vụ chuyên nghiệp, tận tâm của đội ngũ y bác sĩ, thủ tục nhanh chóng và được trang bị đồng bộ hệ thống máy móc hiện đại, đó là những lý do Khoa Chẩn đoán hình ảnh - Bệnh viện Đa khoa MEDLATEC chiếm được sự hài lòng hàng ngàn khách hàng trên cả nước đến sử dụng dịch vụ.
                </div>
                <div class="specialist-child--img"><img src="~/Content/images/Chuyen-khoa/anh-chinh-cdha.jpg" alt="Chuyên khoa Chẩn đoán hình ảnh" /></div>
                <div class="specialist-service">
                    <h2 class="main-title">Dịch vụ chính</h2>
                    <div class="specialist-service--wrapper">
                        <div class="specialist-service--list row">
                            <div class="specialist-service--col col-lg-6">
                                <div class="specialist-service-item">
                                    <h3>Dịch vụ thông thường</h3>
                                </div>
                            </div>
                            <div class="specialist-service--col col-lg-6">
                                <div class="specialist-service-item">
                                    <h3>Đốt sóng cao tần bướu nhân tuyến giáp - u gan;</h3>
                                </div>
                            </div>

                            <div class="specialist-service--col col-lg-6">
                                <div class="specialist-service-item">
                                    <h3>Chụp cộng hưởng từ (sọ não, cột sống, cơ xương khớp…)</h3>
                                </div>
                            </div>

                            <div class="specialist-service--col col-lg-6">
                                <div class="specialist-service-item">
                                    <h3>Chụp cắt lớp vi tính (sọ não, phổi, bụng…)</h3>
                                </div>
                            </div>

                            <div class="specialist-service--col col-lg-6">
                                <div class="specialist-service-item">
                                    <h3>Siêu âm 3D, 4D, siêu âm Doppler màu, siêu âm đàn hồi mô;</h3>
                                </div>
                            </div>

                            <div class="specialist-service--col col-lg-6">
                                <div class="specialist-service-item">
                                    <h3>X-quang kỹ thuật số: Tim phổi, cột sống cổ, thắt lưng, xương khớp;</h3>
                                </div>
                            </div>

                            <div class="specialist-service--col col-lg-6">
                                <div class="specialist-service-item">
                                    <h3>Đo độ xơ hóa gan;</h3>
                                </div>
                            </div>

                            <div class="specialist-service--col col-lg-6">
                                <div class="specialist-service-item">
                                    <h3>Đo loãng xương toàn thân;</h3>
                                </div>
                            </div>

                            <div class="specialist-service--col col-lg-6">
                                <div class="specialist-service-item">
                                    <h3>Sinh thiết u phổi, u vú;</h3>
                                </div>
                            </div>

                            <div class="specialist-service--col col-lg-6">
                                <div class="specialist-service-item">
                                    <h3>Chọc hút tế bào, chọc hút dịch dưới hướng dẫn siêu âm;</h3>
                                </div>
                            </div>

                            <div class="specialist-service--col col-lg-6">
                                <div class="specialist-service-item">
                                    <h3>Tiêm gân, khớp dưới hướng dẫn siêu âm;</h3>
                                </div>
                            </div>

                            <div class="specialist-service--col col-lg-6">
                                <div class="specialist-service-item">
                                    <h3>Tiêm cồn nang giáp, nang gan, nang thận.</h3>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>



                <div class="specialist-material" style="margin-top:15px;">
                    <h2 class="main-title">Cơ sở vật chất - Trang thiết bị</h2>
                    <div class="specialist-material-desc">
                        Chẩn đoán hình ảnh có vai trò quan trọng để cung cấp những thông tin hỗ trợ bác sĩ chẩn đoán bệnh. Vì vậy, Bệnh viện đã đầu tư hệ thống máy móc cũng như cơ sở vật chất khang trang, hiện đại; bảo đảm chất lượng chuyên môn tốt nhất; đem đến sự thoải mái và gần gũi cho khách hàng.
                    </div>
                    <div class="specialist-material-wrapper">


                        <div class="specialist-material-item">
                            <div class="specialist-material--row row">
                                <div class="specialist-material--col col-xl-3 col-sm-4">
                                    <div class="specialist-material--img">
                                        <img src="~/Content/images/Chuyen-khoa/chup-cong-huong-tu-MRI.jpg" alt="Máy chụp Cộng hưởng từ (MRI)" />
                                    </div>
                                </div>
                                <div class="specialist-material--col col-xl-9 col-sm-8">
                                    <h3>Máy chụp Cộng hưởng từ (MRI)</h3>
                                    <div class="specialist-material-intro d-none d-sm-block">
                                        <p>Được trang bị màn hình camera giúp cho việc thăm dễ dàng, thuận tiện, tránh bỏ sót tổn thương.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="specialist-material-item">
                            <div class="specialist-material--row row">
                                <div class="specialist-material--col col-xl-3 col-sm-4">
                                    <div class="specialist-material--img">
                                        <img src="~/Content/images/Chuyen-khoa/may-chup-cat-lop-ct.jpg" alt="Máy chụp cắt lớp vi tính (hay còn gọi là chụp CT-Scanner)" />
                                    </div>
                                </div>
                                <div class="specialist-material--col col-xl-9 col-sm-8">
                                    <h3>Máy chụp cắt lớp vi tính (hay còn gọi là chụp CT-Scanner)</h3>
                                    <div class="specialist-material-intro d-none d-sm-block">
                                        <p>Là một thành tựu vượt bậc trong chẩn đoán hình ảnh, hỗ trợ đắc lực cho bác sĩ trong quá trình chẩn đoán và tiên lượng bệnh. Đối với bệnh cơ xương khớp, máy khảo sát chính xác tổn thương về hệ thống xương khớp.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="specialist-material-item">
                            <div class="specialist-material--row row">
                                <div class="specialist-material--col col-xl-3 col-sm-4">
                                    <div class="specialist-material--img">
                                        <img src="~/Content/images/Chuyen-khoa/DEXA.jpg" alt="Máy DEXA scan" />
                                    </div>
                                </div>
                                <div class="specialist-material--col col-xl-9 col-sm-8">
                                    <h3>Máy DEXA scan</h3>
                                    <div class="specialist-material-intro d-none d-sm-block">
                                        <p>Là phương pháp hiện đại nhất, cho kết quả chính xác về mật độ xương, dự báo nguy cơ gãy xương và theo dõi điều trị.</p>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="specialist-material-item">
                            <div class="specialist-material--row row">
                                <div class="specialist-material--col col-xl-3 col-sm-4">
                                    <div class="specialist-material--img">
                                        <img src="~/Content/images/Chuyen-khoa/viva.jpg" alt="Máy Viva RF System" />
                                    </div>
                                </div>
                                <div class="specialist-material--col col-xl-9 col-sm-8">
                                    <h3>Máy Viva RF System</h3>
                                    <div class="specialist-material-intro d-none d-sm-block">
                                        <p>Máy đốt sóng cao tần bướu nhân tuyến giáp lành tính hiện là phương pháp điều trị đầu tay của các bác sĩ với các ưu điểm vượt trội như không để lại sẹo, đảm bảo tính thẩm mỹ, ra viện trong ngày, thời gian thực hiện nhanh (khoảng 10-15 phút), không phải uống thuốc hàng ngày,…</p>

                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>
                </div>
            </div>
            <div class="single-news--col col-xl-3 col-lg-4 d-none d-lg-block">
                <div class="sidebar-container">
                    <div class="news-post">
                        <p style="font-size: 21px;line-height: 21px;color:#1576C4;font-weight:600;text-align:center;text-transform:uppercase;">Tin cùng chuyên mục</p>
                        <div class="news-post--list">
                            @if (NewsCate != null)
                            {
                                for (int i = 0; i < NewsCate.Count; i++)
                                {

                                    if (i < 5)
                                    {
                                        <div class="news-post--item">
                                            <div class="news-post--row row">
                                                <div class="news-post--col col-5 col-sm-4 col-md-5">
                                                    <div class="news-post--img">

                                                        @if (NewsCate[i].NewsImages != null)
                                                        {
                                                            <a href="/@CMS_Core.Common.Common.GetURLDetailByNews("tin-tuc",@NewsCate[i].NewsName.ToString().ToLower(),"s"+@NewsCate[i].CateId.ToString() ,"n"+@NewsCate[i].NewsId.ToString())" title="@NewsCate[i].NewsName.ToString().TrimStart().TrimEnd()"><img src="@NewsCate[i].NewsImages.ToString()" alt="@NewsCate[i].NewsName.ToString().TrimStart().TrimEnd()" /></a>
                                                        }


                                                    </div>
                                                </div>
                                                <div class="news-post--col col-7 col-sm-8 col-md-7">
                                                    <div class="news-post--content">

                                                        @if (@NewsCate[i].NewsName != null)
                                                        {
                                                            <h3><a href="/@CMS_Core.Common.Common.GetURLDetailByNews("tin-tuc",@NewsCate[i].NewsName.ToString().ToLower(),"s"+@NewsCate[i].CateId.ToString() ,"n"+@NewsCate[i].NewsId.ToString())" title="@NewsCate[i].NewsName.ToString().TrimStart().TrimEnd()">@NewsCate[i].NewsName.ToString().TrimStart().TrimEnd()</a></h3>
                                                        }

                                                        <div class="news-post--info clearfix">
                                                            @if (@NewsCate[i].DateCreate != null)
                                                            {
                                                                <span class="news-post--date">Ngày @NewsCate[i].DateCreate.ToString("dd/MM/yyyy")</span>
                                                            }


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }


                                }
                            }

                        </div>
                    </div>

                </div>

                <div class="sidebar-container">
                    <div class="news-post">
                        <p style="font-size: 21px;line-height: 21px;color:#1576C4;font-weight:600;text-align:center;text-transform:uppercase;">Tin nổi bật</p>
                        <div class="news-post--list">

                            @for (int i = 0; i < 5; i++)
                            {



                                <div class="news-post--item">
                                    <div class="news-post--row row">
                                        <div class="news-post--col col-5 col-sm-4 col-md-5">
                                            <div class="news-post--img">

                                                @if (@TinNoiBat[i].NewsImages != null)
                                                {
                                                    <a href="/@CMS_Core.Common.Common.GetURLDetailByNews("tin-tuc",@TinNoiBat[i].NewsName.ToString().ToLower(),"s"+@TinNoiBat[i].CateId.ToString() ,"n"+@TinNoiBat[i].NewsId.ToString())" title="@TinNoiBat[i].NewsName.ToString().TrimStart().TrimEnd()"><img src="@TinNoiBat[i].NewsImages.ToString()" alt="@TinNoiBat[i].NewsName.ToString().TrimStart().TrimEnd()" /></a>
                                                }


                                            </div>
                                        </div>
                                        <div class="news-post--col col-7 col-sm-8 col-md-7">
                                            <div class="news-post--content">

                                                @if (@TinNoiBat[i].NewsName != null)
                                                {
                                                    <h3><a href="/@CMS_Core.Common.Common.GetURLDetailByNews("tin-tuc",@TinNoiBat[i].NewsName.ToString().ToLower(),"s"+@TinNoiBat[i].CateId.ToString() ,"n"+@TinNoiBat[i].NewsId.ToString())" title="@TinNoiBat[i].NewsName.ToString().TrimStart().TrimEnd()">@TinNoiBat[i].NewsName.ToString().TrimStart().TrimEnd()</a></h3>
                                                }

                                                <div class="news-post--info clearfix">
                                                    @if (@TinNoiBat[i].DateCreate != null)
                                                    {
                                                        <span class="news-post--date">Ngày @TinNoiBat[i].DateCreate.ToString("dd/MM/yyyy")</span>
                                                    }


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                </div>


            </div>

        </div>
    </div>

    @Html.AntiForgeryToken()
    <div class="register-main single-register-main container">
        <div class="register-wrapper">
            <div class="register-row row">
                <div class="register-col col-lg-6">
                    <div class="register-form">
                        <p style="font-size: 21px;line-height: 21px;color:white;text-align:center;text-transform:uppercase;">Đăng ký khám, tư vấn</p>
                        <div class="form">

                            <style type="text/css">
                                input[name='CaptchaInputText'] {
                                    width: 100% !important;
                                    line-height: 28px;
                                    background: rgba(255, 255, 255, .8) none;
                                    padding: 10px;
                                    height: 50px;
                                    display: block;
                                    width: 100%;
                                    font-size: 1rem;
                                    font-weight: 400;
                                    line-height: 1.5;
                                    color: #495057;
                                    border: 1px solid #ced4da;
                                    border-radius: .25rem;
                                    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                                }
                            </style>

                            <div class="form-group register-name">
                                <label>Họ và tên <i>(*)</i></label>
                                <input value="" name="txthoten" class="form-control" type="text" />
                            </div>
                            <div class="form-group register-phone">
                                <label>Số điện thoại <i>(*)</i></label>
                                <input value="" name="txtsdt" class="form-control" type="text" />
                            </div>
                            <div class="form-group register-email">
                                <label>Email</label>
                                <input value="" name="txtemail" class="form-control" type="email" />
                            </div>
                            <div class="form-group register-comment">
                                <label>Ghi chú khác</label>
                                <textarea class="form-control" name="txtGhichu" placeholder="Nhu cầu khám của bạn là gì? (không bắt buộc)"></textarea>
                            </div>


                            <div class="form-group form-group--btn">
                                <button type="submit" name="submit" value="SaveAdd">ĐĂNG KÝ</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="register-col col-lg-6 d-none d-lg-block">
                    <div class="choose-main">
                        <p class="line-title">Tại sao nên chọn bệnh viện đa khoa MEDLATEC</p>
                        <div class="choose-main--row row">
                            <div class="choose-main--col col-lg-6">
                                <div class="choose-main--item">
                                    <div class="choose-main--icon"><img src="/Content/images/hospital.png" alt="" /></div>
                                    <div class="choose-main--desc">Bệnh viện đa khoa với nhiều năm kinh nghiệm trong lĩnh vực y tế.</div>
                                </div>
                            </div>
                            <div class="choose-main--col col-lg-6">
                                <div class="choose-main--item">
                                    <div class="choose-main--icon"><img src="/Content/images/doctors.png" alt="" /></div>
                                    <div class="choose-main--desc">Thăm khám bởi đội ngũ giáo sư, bác sĩ đầu ngành</div>
                                </div>
                            </div>
                            <div class="choose-main--col col-lg-6">
                                <div class="choose-main--item">
                                    <div class="choose-main--icon"><img src="/Content/images/infrastructure.png" alt="" /></div>
                                    <div class="choose-main--desc">Cơ sở vật chất, máy móc trang thiết bị hiện đại</div>
                                </div>
                            </div>
                            <div class="choose-main--col col-lg-6">
                                <div class="choose-main--item">
                                    <div class="choose-main--icon"><img src="/Content/images/bill.png" alt="" /></div>
                                    <div class="choose-main--desc">Áp dụng thanh toán bảo hiểm y tế và các bảo hiểm khác lên tới 100%</div>
                                </div>
                            </div>
                            <div class="choose-main--col col-lg-6">
                                <div class="choose-main--item">
                                    <div class="choose-main--icon"><img src="/Content/images/fast.png" alt="" /></div>
                                    <div class="choose-main--desc">Quy trình khám chữa bệnh nhanh chóng, thuận tiện</div>
                                </div>
                            </div>
                            <div class="choose-main--col col-lg-6">
                                <div class="choose-main--item">
                                    <div class="choose-main--icon"><img src="/Content/images/dollar.png" alt="" /></div>
                                    <div class="choose-main--desc">Chi phí khám chữa bệnh hợp lý.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}