
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="dns-prefetch" href="https://www.googletagmanager.com">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">

    <link rel="dns-prefetch" href="https://googleads.g.doubleclick.net">
    <link rel="dns-prefetch" href="https://code.jquery.com">
    <link rel="dns-prefetch" href="https://www.google-analytics.com">
    <link rel="dns-prefetch" href="https://connect.facebook.net">
    <link rel="dns-prefetch" href="https://www.facebook.com">
    <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">
    <link rel="dns-prefetch" href="https://static.subiz.com">



    <title>Hệ thống bệnh viện đa khoa MEDLATEC cơ sở 3 Thanh Xuân với đội ngũ y bác sĩ giỏi giàu kinh nghiệm, trang thiết bị y tế hàng đầu Việt Nam</title>

    <meta name="description" content="@Html.Raw("Hệ thống bệnh viện đa khoa MEDLATEC cơ sở 3 Thanh Xuân với đội ngũ y bác sĩ giỏi giàu kinh nghiệm, trang thiết bị y tế hàng đầu Việt Nam. Dịch vụ khám chữa bệnh đầy đủ chuyên khoa: Xét nghiệm lấy mẫu máu tại nhà, chẩn đoán hình ảnh, chế độ bảo hiểm y tế toàn diện, khám sức khoẻ doanh nghiệp")" />


    <meta name="title" content="@Html.Raw("Hệ thống bệnh viện đa khoa MEDLATEC cơ sở 3 Thanh Xuân với đội ngũ y bác sĩ giỏi giàu kinh nghiệm, trang thiết bị y tế hàng đầu Việt Nam")" />

    <meta name="keywords" content="@Html.Raw("Hệ thống bệnh viện đa khoa MEDLATEC cơ sở 3 Thanh Xuân với đội ngũ y bác sĩ giỏi giàu kinh nghiệm, trang thiết bị y tế hàng đầu Việt Nam")" />

    <meta property="og:description" content="@Html.Raw("Hệ thống bệnh viện đa khoa MEDLATEC cơ sở 3 Thanh Xuân với đội ngũ y bác sĩ giỏi giàu kinh nghiệm, trang thiết bị y tế hàng đầu Việt Nam")" />
    <meta property="og:title" content="@Html.Raw("Hệ thống bệnh viện đa khoa MEDLATEC cơ sở 3 Thanh Xuân với đội ngũ y bác sĩ giỏi giàu kinh nghiệm, trang thiết bị y tế hàng đầu Việt Nam")" />












    <meta property="og:image" content="/Content/images/banner/landing-thanh-xuan.jpg" />


    <meta property="og:image:secure_url" content="/Content/images/banner/baner-thanh-xuan-facebook.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1110" />
    <meta property="og:image:height" content="514" />

    <meta property="og:type" content="article" />
    <meta property="fb:app_id" content="2092985977431269" />


    <meta property="og:url" content="https://medlatec.vn/co-so/benh-vien-da-khoa-medlatec-thanh-xuan" />
    <meta name="robots" content="noindex,nofollow">

    <link rel="canonical" href="https://medlatec.vn/co-so/benh-vien-da-khoa-medlatec-thanh-xuan" />



    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css"></script>


    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i&amp;subset=vietnamese" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/lib/owlcarousel/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/Content/css/styles.css" />
    <script src="~/Content/lib/bootstrap/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="~/Content/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/Content/js/default.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.standalone.min.css" />
    <meta name="google-site-verification" content="ccIfgcSBv7UttiBiE_C4LQuIJr1be5vwhE1f5mPY3lg" />
    <script type="text/javascript">
                if (window.location.protocol == "http:") {
                    var restOfUrl = window.location.href.substr(5);
                    restOfUrl = restOfUrl.replace("www.", "");
                    window.location = "https:" + restOfUrl;[w]
                }
        </script>



    <link rel="apple-touch-icon" sizes="180x180" href="/Content/images/logochuan-01.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Content/images/logochuan-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Content/images/logochuan-16.png">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-20501699-10"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-20501699-10');
    </script>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WG5728Z"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WG5728Z');</script>
    <!-- End Google Tag Manager -->



    <style>
        input[name='CaptchaInputText'] {
            width: 100% !important;
            line-height: 28px;
            background: rgba(255, 255, 255, .8) none;
            padding: 10px;
            height: 40px;
            display: block;
            width: 100%;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
        .register-form textarea.form-control{
            height:100px;
        }
        .register-form h2 {
            font-size: 20px;
            margin: 0 0 14px;
        }
        hr {
            border-top: 1px solid white;
        }

        .nav-menu--wrapper li a {
            padding: 20px 10px 9px;
            height: 80px;
        }

        .nav-menu {
            border-bottom: 1px solid white;
        }

        .service-item p {
            color: #444;
            text-align: justify;
        }

        .service-item {
            padding: 10px;
            padding-bottom: 15px;
        }

        .khonggian {
            padding: 3px;
        }

            .khonggian a {
                display: block;
                position: relative;
                overflow: hidden;
            }

            .khonggian img {
                width: 100%;
                height: auto;
                -webkit-transition: all 0.5s ease-in-out;
                -moz-transition: all 0.5s ease-in-out;
                -o-transition: all 0.5s ease-in-out;
                -ms-transition: all 0.5s ease-in-out;
                transition: all 0.5s ease-in-out;
            }

            .khonggian:hover img {
                -webkit-transform: scale(1.2);
                -moz-transform: scale(1.2);
                -o-transform: scale(1.2);
                -ms-transform: scale(1.2);
                transform: scale(1.2);
            }

        .feedback-customer p {
            text-align: center;
            color: white;
            font-size: 17px;
            font-family: 'Roboto', Arial, sans-serif;
        }

        .feedback-customer h2 {
            color: #f8e283;
        }

        .feedback-customer::before {
            background-color: #1576C4;
        }

        .feedback-customer {
            padding-bottom: 15px;
        }

        .line-title {
            font-size: 28px;
        }

        /* Hide the images by default */
        .mySlides {
            display: none;
        }

        /* Add a pointer when hovering over the thumbnail images */
        .cursor {
            cursor: pointer;
        }

        /* Next & previous buttons */
        .prev,
        .next {
            cursor: pointer;
            position: absolute;
            top: 40%;
            width: auto;
            padding: 16px;
            margin-top: -50px;
            color: white;
            font-weight: bold;
            font-size: 20px;
            border-radius: 0 3px 3px 0;
            user-select: none;
            -webkit-user-select: none;
        }

        /* Position the "next button" to the right */
        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }

            /* On hover, add a black background color with a little bit see-through */
            .prev:hover,
            .next:hover {
                background-color: rgba(0, 0, 0, 0.8);
            }

        /* Number text (1/3 etc) */
        .numbertext {
            color: #f2f2f2;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
        }

        /* Container for image text */
        .caption-container {
            text-align: center;
            background-color: #222;
            padding: 2px 16px;
            color: white;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        /* Six columns side by side */
        .column {
            float: left;
            width: 16.66%;
        }

        /* Add a transparency effect for thumnbail images */
        .demo {
            opacity: 0.6;
        }

            .active,
            .demo:hover {
                opacity: 1;
            }

        .feedback-customer {
            background: none;
        }
    </style>


</head>

<body>
    @using (Html.BeginForm("LandingThanhXuan", "Landing", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        <header class="header-main">

            <div class="nav-main navbar-fixed-top d-block d-xl-none">
                <div class="container clearfix">


                    <div class="language-main">
                        <a href="tel:1900 565656" style="float:left;"><img src="/Content/images/hotline.png" alt="hotline 1900 565656" style="height:30px;margin-top:10px;margin-left:10px;" /></a>

                        <div class="language-flag" style="margin-left:46px;"><img src="/Content/images/banner/logo3.png" alt="logo" /></div>
                    </div>

                    <div class="nav-button d-block d-xl-none">
                        <img src="/Content/images/bar.png" alt="menu" />
                    </div>


                </div>


            </div>

        </header>

        <div class="nav-menu fixed-top">
            <div class="container nav-menu--wrapper">
                <div class="nav-menu--header">Danh mục</div>
                <ol>
                    <li class="menu-active"><a href="https://medlatec.vn" style="height:70px;padding:0px;background-color:transparent;margin-top:10px;"><img src="/Content/images/banner/logo3.png" alt="trang chủ" style="height:65px;" /></a></li>
                    <li class="has-children">
                        <a href="#dichvuchinh">Dịch vụ chính<i class="arrow-children"></i></a>

                    </li>
                    <li class="has-children">
                        <a href="#khonggian">Không gian<i class="arrow-children"></i></a>

                    </li>
                    <li class="has-children">
                        <a href="#chuyenkhoa">Chuyên khoa<i class="arrow-children"></i></a>

                    </li>
                    <li>
                        <a href="#doinguchuyengia" title="Đội ngũ chuyên gia">Chuyên gia<i class="arrow-children"></i></a>

                    </li>
                    <li class="has-children">
                        <a href="#uudiem" title="ưu điểm">Ưu điểm<i class="arrow-children"></i></a>

                    </li>

                    <li class="has-children">
                        <a href="#ykienkhachhang" title="Ý kiến khách hàng">Khách hàng<i class="arrow-children"></i></a>

                    </li>

                    @*<li class="has-children">
                        <a href="#chuongtrinhmienphi" title="Hệ thống MEDLATEC">Chương trình miễn phí<i class="arrow-children"></i></a>

                    </li>*@
                    <li class="has-children">
                        <a href="#dangkyngay" title="Tin tuyển dụng">Đăng ký<i class="arrow-children"></i></a>

                    </li>
                </ol>
            </div>
        </div>

        <div class="xntn-main" id="solieu">

            <a href="#dangkyngay">
                <picture>

                    <source class="owl-lazy" media="(min-width: 1169px)" data-srcset="/Content/images/banner/landing-thanh-xuan.jpg" srcset="/Content/images/banner/landing-thanh-xuan.jpg">
                    <img class="owl-lazy" data-src="/Content/images/banner/baner650-thanh-xuan.jpg" alt="slide 1" src="/Content/images/banner/baner650-thanh-xuan.jpg">
                </picture>
            </a>
            @*<a href="#dangkyngay">
                    <picture>

                        <source class="owl-lazy" media="(min-width: 1169px)" data-srcset="/Content/images/banner/Landing_1920x508.jpg" srcset="/Content/images/banner/Landing_1920x508.jpg">
                        <img class="owl-lazy" data-src="/Content/images/banner/cea2019.jpg" alt="slide 1" src="/Content/images/banner/cea2019.jpg">
                    </picture>
                </a>*@
            @*<a href="#dangkyngay">
                    <picture>

                        <source class="owl-lazy" media="(min-width: 1169px)" data-srcset="/Content/images/banner/Landing_1920x508.jpg" srcset="/Content/images/banner/landing-thanh-xuan.jpg">
                        <img class="owl-lazy" data-src="/Content/images/banner/cea2019.jpg" alt="slide 1" src="/Content/images/banner/baner650-thanh-xuan.jpg">
                    </picture>
                </a>*@


        </div>


        <div class="xntn-main" id="dichvuchinh111">


            <div class="service-main container" id="dichvuchinh">
                <h2 class="line-title">CÁC DỊCH VỤ CHÍNH</h2>
                <div class="service-list">
                    <div class="service-row row">
                        <div class="service-col col-6 col-lg-4">
                            <div class="service-item">


                                <img src="/Content/images/thanhxuan/kham-benh.png" alt="Khám, chẩn đoán và điều trị đầy đủ các chuyên khoa: Nhi, Sản, Nam khoa, Truyền nhiễm, Ung bướu, Thần kinh, Cơ xương khớp,…" />

                                <p>Khám, chẩn đoán và điều trị đầy đủ các chuyên khoa: Nhi, Sản, Nam khoa, Truyền nhiễm, Ung bướu,…</p>

                            </div>
                        </div>
                        <div class="service-col col-6 col-lg-4">
                            <div class="service-item">

                                <img src="/Content/images/thanhxuan/chan-doan-hinh-anh.png" alt="Đáp ứng đầy đủ các kỹ thuật chẩn đoán, theo dõi điều trị bệnh: Chẩn đoán hình ảnh, thăm dò chức năng, xét nghiệm" />
                                <p>Đáp ứng đầy đủ các kỹ thuật chẩn đoán, theo dõi điều trị bệnh: Chẩn đoán hình ảnh, thăm dò chức năng, xét nghiệm;</p>

                            </div>
                        </div>
                        <div class="service-col col-6 col-lg-4">
                            <div class="service-item">

                                <img src="/Content/images/thanhxuan/kham-suc-khoe-ca-nhan.png" alt="Khám sức khỏe định kỳ cho cá nhân và gia đình" />

                                <p>Khám sức khỏe định kỳ cho cá nhân và gia đình;</p>

                            </div>
                        </div>
                        <div class="service-col col-6 col-lg-4">
                            <div class="service-item">
                                <img src="/Content/images/thanhxuan/kham-suc-khoe-doanh-nghiep.png" alt="Khám sức khỏe định kỳ cho các tổ chức" />

                                <p>Khám sức khỏe định kỳ cho các tổ chức: Doanh nghiệp, cơ quan, trường học, ngân hàng,…</p>
                            </div>
                        </div>
                        <div class="service-col col-6 col-lg-4">
                            <div class="service-item">
                                <img src="/Content/images/thanhxuan/bac-sy-gia-dinh.png" alt="Dịch vụ bác sĩ gia đình chủ động kiểm tra sức khỏe" />

                                <p>Dịch vụ bác sĩ gia đình chủ động kiểm tra sức khỏe;</p>
                            </div>
                        </div>
                        <div class="service-col col-6 col-lg-4">
                            <div class="service-item">
                                <img src="/Content/images/thanhxuan/kham-bao-hiem.png" alt="Khám thẩm định bảo hiểm cho các khách hàng tham gia bảo hiểm nhân thọ" />

                                <p>Khám thẩm định bảo hiểm cho các khách hàng tham gia bảo hiểm nhân thọ.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="feedback-customer" id="khonggian" style="padding-bottom:0px;">

                <h2 class="title">Không gian khám lý tưởng</h2>
                <hr />
                <p>Với mô hình bệnh viện hướng tới tiêu chuẩn dịch vụ 5 sao, quy mô diện tích lớn, bệnh viện có thể tiếp đón và thăm khám số lượng khách lên đến 1.000 người/ ngày</p>
                <div class="banner-feature--row row">

                    <div class="banner-feature--col col-xl-12">

                        <div class="feature-main">

                            <div class="row" style="background-color:white;">
                                <div class="feature-col col-6 col-lg-3">
                                    <div class="khonggian">
                                        <a href="#" title="">
                                            <img src="/Content/images/thanhxuan/1.png">
                                        </a>
                                    </div>
                                </div>
                                <div class="feature-col col-6 col-lg-3">

                                    <div class="khonggian">

                                        <a href="#" title="">
                                            <img src="/Content/images/thanhxuan/2.png">
                                        </a>

                                    </div>

                                </div>
                                <div class="feature-col col-6 col-lg-3">

                                    <div class="khonggian">
                                        <a href="#" title="">
                                            <img src="/Content/images/thanhxuan/3.png">
                                        </a>

                                    </div>

                                </div>
                                <div class="feature-col col-6 col-lg-3">

                                    <div class="khonggian">
                                        <a href="#" title="">
                                            <img src="/Content/images/thanhxuan/4.png">
                                        </a>

                                    </div>

                                </div>

                                <div class="feature-col col-6 col-lg-3">
                                    <div class="khonggian">
                                        <a href="#" title="">
                                            <img src="/Content/images/thanhxuan/5.png">
                                        </a>

                                    </div>
                                </div>
                                <div class="feature-col col-6 col-lg-3">

                                    <div class="khonggian">
                                        <a href="#" title="">
                                            <img src="/Content/images/thanhxuan/6.png">
                                        </a>

                                    </div>

                                </div>
                                <div class="feature-col col-6 col-lg-3">

                                    <div class="khonggian">
                                        <a href="#" title="">
                                            <img src="/Content/images/thanhxuan/7.png">
                                        </a>
                                    </div>

                                </div>
                                <div class="feature-col col-6 col-lg-3">

                                    <div class="khonggian">
                                        <a href="#" title="">
                                            <img src="/Content/images/thanhxuan/8.png">
                                        </a>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>


            <div class="service-main container" id="chuyenkhoa">

                <div class="container">
                    <h2 class="line-title">Các chuyên khoa y tế tại MEDLATEC</h2>
                    <div class="specialist-list">
                        <div class="specialist-list--row row">
                            <div class="specialist-list--col col-lg-4">
                                <ul>
                                    <li>
                                        <a href="https://medlatec.vn/chuyen-khoa/chuyen-khoa-noi"><span class="specialist-icon"><img src="/Content/images/specialist-1.png" alt="Chuyên khoa nội" /></span>Chuyên khoa nội</a>
                                    </li>
                                    <li>
                                        <a href="https://medlatec.vn/chuyen-khoa/ung-buou"><span class="specialist-icon"><img src="/Content/images/specialist-2.png" alt="Ung bướu" /></span>Ung bướu</a>
                                    </li>
                                    <li>
                                        <a href="https://medlatec.vn/chuyen-khoa/san-khoa"><span class="specialist-icon"><img src="/Content/images/specialist-3.png" alt="Sản khoa" /></span>Sản khoa</a>
                                    </li>
                                    <li>
                                        <a href="https://medlatec.vn/chuyen-khoa/trung-tam-xet-nghiem"><span class="specialist-icon"><img src="/Content/images/specialist-4.png" alt="Xét nghiệm" /></span>Xét nghiệm</a>
                                    </li>
                                    <li>
                                        <a href="https://medlatec.vn/chuyen-khoa/chan-doan-hinh-anh"><span class="specialist-icon"><img src="/Content/images/specialist-5.png" alt="Chẩn đoán hình ảnh" /></span>Chẩn đoán hình ảnh</a>
                                    </li>
                                    <li>
                                        <a href="https://medlatec.vn/chuyen-khoa/ngoai-khoa"><span class="specialist-icon"><img src="/Content/images/specialist-6.png" alt="Khoa ngoại" /></span>Khoa ngoại</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="specialist-list--col col-lg-4">
                                <ul>
                                    <li>
                                        <a href="https://medlatec.vn/chuyen-khoa/tieu-hoa"><span class="specialist-icon"><img src="/Content/images/specialist-7.png" alt="Tiêu hóa" /></span>Tiêu hóa</a>
                                    </li>
                                    <li>
                                        <a href="https://medlatec.vn/chuyen-khoa/tim-mach"><span class="specialist-icon"><img src="/Content/images/specialist-8.png" alt="Tim mạch" /></span>Tim mạch</a>
                                    </li>
                                    <li>
                                        <a href="https://medlatec.vn/chuyen-khoa/noi-tiet"><span class="specialist-icon"><img src="/Content/images/specialist-9.png" alt="Nội tiết" /></span>Nội tiết</a>
                                    </li>
                                    <li>
                                        <a href="https://medlatec.vn/chuyen-khoa/nam-khoa"><span class="specialist-icon"><img src="/Content/images/specialist-10.png" alt="Nam khoa" /></span>Nam khoa</a>
                                    </li>
                                    <li>
                                        <a href="https://medlatec.vn/chuyen-khoa/co-xuong-khop"><span class="specialist-icon"><img src="/Content/images/specialist-11.png" alt="Xương khớp" /></span>Xương khớp</a>
                                    </li>
                                    <li>
                                        <a href="https://medlatec.vn/chuyen-khoa/truyen-nhiem"><span class="specialist-icon"><img src="/Content/images/specialist-12.png" alt="Truyền nhiễm" /></span>Truyền nhiễm</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="specialist-list--col col-lg-4">
                                <ul>
                                    <li>
                                        <a href="https://medlatec.vn/chuyen-khoa/than-kinh"><span class="specialist-icon"><img src="/Content/images/specialist-13.png" alt="Thần kinh" /></span>Thần kinh</a>
                                    </li>
                                    <li>
                                        <a href="https://medlatec.vn/chuyen-khoa/nhi-khoa"><span class="specialist-icon"><img src="/Content/images/specialist-14.png" alt="Khoa nhi" /></span>Khoa nhi</a>
                                    </li>
                                    <li>
                                        <a href="https://medlatec.vn/chuyen-khoa/chuyen-khoa-mat"><span class="specialist-icon"><img src="/Content/images/specialist-15.png" alt="Chuyên khoa mắt" /></span>Chuyên khoa mắt</a>
                                    </li>
                                    <li>
                                        <a href="https://medlatec.vn/chuyen-khoa/tai-mui-hong"><span class="specialist-icon"><img src="/Content/images/specialist-16.png" alt="Tai mũi họng" /></span>Tai mũi họng</a>
                                    </li>
                                    <li>
                                        <a href="https://medlatec.vn/chuyen-khoa/da-lieu"><span class="specialist-icon"><img src="/Content/images/specialist-17.png" alt="Da liễu" /></span>Da liễu</a>
                                    </li>
                                    <li>
                                        <a href="https://medlatec.vn/chuyen-khoa/rang-ham-mat"><span class="specialist-icon"><img src="/Content/images/specialist-18.png" alt="Răng hàm mặt" /></span>Răng hàm mặt</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="specialist-more news-more d-block d-lg-none">
                        <a href="https://medlatec.vn/chuyen-khoa">Xem tất cả</a>
                    </div>
                </div>


            </div>


            <div class="feedback-customer" id="doinguchuyengia">
                <div class="container">
                    <h2 class="title">Đội ngũ chuyên gia</h2>
                    <hr />
                    <div class="banner-feature--row row">
                        <div class="banner-feature--col col-xl-7">

                            <div class="mySlides">
                                <div class="numbertext">1 / 6</div>
                                <img src="/Content/images/thanhxuan/Chuyen-gia-Tri-650x480px.jpg" style="width:100%">
                            </div>

                            <div class="mySlides">
                                <div class="numbertext">2 / 6</div>
                                <img src="/Content/images/thanhxuan/Chuyen-gia-Chau-650x480px.jpg" style="width:100%">
                            </div>

                            <div class="mySlides">
                                <div class="numbertext">3 / 6</div>
                                <img src="/Content/images/thanhxuan/Chuyen-gia-Hoa-650x480px.jpg" style="width:100%">
                            </div>

                            <div class="mySlides">
                                <div class="numbertext">4 / 6</div>
                                <img src="/Content/images/thanhxuan/Chuyen-gia-Nghi-650x480px.jpg" style="width:100%">
                            </div>
                            <div class="mySlides">
                                <div class="numbertext">5 / 6</div>
                                <img src="/Content/images/thanhxuan/Chuyen-gia-Ngoc-650x480px.jpg" style="width:100%">
                            </div>
                            <div class="mySlides">
                                <div class="numbertext">6 / 6</div>
                                <img src="/Content/images/thanhxuan/Chuyen-gia-trinh-ngoc-650x480px.jpg" style="width:100%">
                            </div>

                        </div>
                        <div class="banner-feature--col col-xl-5">

                            <div class="feature-main container">
                                <div class="row">
                                    <div class="feature-col col-6">

                                        <img class="demo cursor" src="/Content/images/thanhxuan/Chuyen-gia-Tri-650x480px.jpg" style="width:100%;max-height:159px;" onclick="currentSlide(1)" alt="a">

                                    </div>
                                    <div class="feature-col col-6">
                                        <img class="demo cursor" src="/Content/images/thanhxuan/Chuyen-gia-Chau-650x480px.jpg" style="width:100%;max-height:159px;" onclick="currentSlide(2)" alt="b">
                                    </div>
                                    <div class="feature-col col-6">
                                        <img class="demo cursor" src="/Content/images/thanhxuan/Chuyen-gia-Hoa-650x480px.jpg" style="width:100%;max-height:159px;" onclick="currentSlide(3)" alt="c">
                                    </div>
                                    <div class="feature-col col-6">
                                        <img class="demo cursor" src="/Content/images/thanhxuan/Chuyen-gia-Nghi-650x480px.jpg" style="width:100%;max-height:159px;" onclick="currentSlide(4)" alt="d">
                                    </div>
                                    <div class="feature-col col-6">
                                        <img class="demo cursor" src="/Content/images/thanhxuan/Chuyen-gia-Ngoc-650x480px.jpg" style="width:100%;max-height:159px;" onclick="currentSlide(3)" alt="c">
                                    </div>
                                    <div class="feature-col col-6">
                                        <img class="demo cursor" src="/Content/images/thanhxuan/Chuyen-gia-trinh-ngoc-650x480px.jpg" style="width:100%;max-height:159px;" onclick="currentSlide(4)" alt="d">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="xntn-why-choose" style="margin-top:0px;" id="uudiem">
                <div class="container">
                    <h2 class="title">
                        Lý Do Chọn Khám Tại Bệnh Viện Đa Khoa MEDLATEC – Cơ Sở 3
                    </h2>
                    <div class="xntn-why-container row">
                        <div class="col-md-6 col-xl-4">
                            <div class="xntn-why-item">
                                <div class="xntn-why-icon"><img src="/Content/images/xntn-why-1.png" alt="MEDLATEC là đơn vị tiên phong về dịch vụ và có nhiều năm kinh nghiệm trong lĩnh vực xét nghiệm" /></div>
                                <div class="xntn-why-text">
                                    <h3>Kinh nghiệm</h3>
                                    <p>Hội tụ đội ngũ chuyên gia, bác sĩ giàu kinh nghiệm, tận tâm, chu đáo với người bệnh;</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="xntn-why-item">
                                <div class="xntn-why-icon"><img src="/Content/images/xntn-why-2.png" alt="Mạng lưới labo xét nghiệm đạt tiêu chuẩn quốc tế, rộng khắp các tỉnh thành trên cả nước" /></div>
                                <div class="xntn-why-text">
                                    <h3>Quy mô</h3>
                                    <p>Cơ sở vật chất khang trang với tổng diện tích lên tới 3600 m2 mang đến cảm giác thoải mái, thư giãn khi khám;</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="xntn-why-item">
                                <div class="xntn-why-icon"><img src="/Content/images/xntn-why-3.png" alt="Đội ngũ lấy mẫu chuyên nghiệp, ân cần, có chứng chỉ hành nghề" /></div>
                                <div class="xntn-why-text">
                                    <h3>Thiết bị</h3>
                                    <p>Trang thiết bị hiện đại, tiên tiến cho kết quả khám, chẩn đoán chính xác, tin cậy cao;</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="xntn-why-item">
                                <div class="xntn-why-icon"><img src="/Content/images/xntn-why-4.png" alt="Phục vụ hơn 500 loại xét nghiệm từ cơ bản đến chuyên sâu" /></div>
                                <div class="xntn-why-text">
                                    <h3>Đối tượng</h3>
                                    <p>Phục vụ đa dạng chuyên khoa đáp ứng nhiều đối tượng khách hàng;</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="xntn-why-item">
                                <div class="xntn-why-icon"><img src="/Content/images/xntn-why-5.png" alt="Đơn giá theo giá niêm yết tại bệnh viện, chỉ  thêm 10.000 đồng phí đi lại" /></div>
                                <div class="xntn-why-text">
                                    <h3>Tiện lợi</h3>
                                    <p>Đặt lịch khám online tiện lợi, nhanh chóng qua website, tổng đài 1900 56 56 56 hoặc app iCNM;</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="xntn-why-item">
                                <div class="xntn-why-icon"><img src="/Content/images/xntn-why-6.png" alt="Phục vụ tất cả các ngày trong tuần" /></div>
                                <div class="xntn-why-text">
                                    <h3>Giờ giấc phục vụ</h3>
                                    <p>Phục vụ tất cả các ngày trong tuần, <b>kể cả thứ 7, chủ nhật và lễ Tết</b> từ 6:00-22:00 hàng ngày;</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="xntn-why-item">
                                <div class="xntn-why-icon"><img src="/Content/images/xntn-why-7.png" alt="Kết quả được trả tận nơi hoặc tra cứu trên website medlatec.vn và ứng dụng iCNM" /></div>
                                <div class="xntn-why-text">
                                    <h3>Trả kết quả</h3>
                                    <p>Kết quả được trả tận nơi hoặc tra cứu trên website medlatec.vn và ứng dụng iCNM;</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="xntn-why-item">
                                <div class="xntn-why-icon"><img src="/Content/images/xntn-why-8.png" alt="Lưu trữ trực tuyến toàn bộ hồ sơ, khách hàng có thể tra cứu mọi lúc, mọi nơi. Thông tin được bảo mật tuyệt đối" /></div>
                                <div class="xntn-why-text">
                                    <h3>Bảo hiểm</h3>
                                    <p>Áp dụng thanh toán bảo lãnh viện phí theo quy định;</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="xntn-why-item">
                                <div class="xntn-why-icon"><img src="/Content/images/xntn-why-9.png" alt="Được các bác sĩ, chuyên gia hàng đầu tư vấn nếu kết quả có bất thường" /></div>
                                <div class="xntn-why-text">
                                    <h3>Vị trí</h3>
                                    <p>Tọa lạc ở vị trí đắc địa, thuận tiện cho các phương tiện giao thông đi lại của khách hàng.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="xntn-register"><a href="#dangkyngay">Đăng ký ngay</a></div>
                </div>
            </div>

            <div class="feedback-customer" id="ykienkhachhang">
                <div class="container">
                    <h2 class="title">Ý kiến khách hàng</h2>
                    <div class="feedback-slider owl-carousel">
                        <div class="item">
                            <div class="feedback-customer-item">
                                <div class="feedback-customer-avatar"><img src="/Content/images/feedback19.png" alt="Nhân viên văn phòng" /></div>
                                <div class="feedback-customer-info">
                                    <h3>Nguyễn Thị Hương</h3>
                                    <div class="feedback-customer-position">24 tuổi, Hoàng Mai, Hà Nội</div>
                                    <div class="feedback-customer-text">Ấn tượng của tôi về MEDLATEC Thanh Xuân qua một đợt khám sức khỏe cơ quan. Hôm đó lượng khách đến khám tuy đông, nhưng Phòng khám phục vụ rất chu đáo, quy trình khép kín, bác sĩ tư vấn rất tỉ mỉ và chi tiết. Từ đó, tôi thường xuyên đến đây kiểm tra sức khỏe khi có nhu cầu</div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="feedback-customer-item">
                                <div class="feedback-customer-avatar"><img src="/Content/images/feedback20.png" alt="Sản phụ" /></div>
                                <div class="feedback-customer-info">
                                    <h3>Triệu Thị Mẫn</h3>
                                    <div class="feedback-customer-position">25 tuổi, Cầu Giấy, Hà Nội</div>
                                    <div class="feedback-customer-text">Tôi đi làm trong giờ hành chính nên rất khó khăn sắp xếp thời gian đi khám, nên với thời gian phục vụ cả thứ 7, Chủ nhật, ngày Lễ, Tết và ngoài giờ hành chính rất thuận tiện. Tôi không phải xin nghỉ mà thậm chí luôn chủ động được thời gian cho mỗi lần đi khám sức khỏe.</div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="feedback-customer-item">
                                <div class="feedback-customer-avatar"><img src="/Content/images/feedback-avatar.png" alt="Hưu trí" /></div>
                                <div class="feedback-customer-info">
                                    <h3>Lê Minh Nguyệt</h3>
                                    <div class="feedback-customer-position">52 tuổi, Thanh Xuân, Hà Nội</div>
                                    <div class="feedback-customer-text">Từ khi biết MEDLATEC mở thêm cơ sở tại Thanh Xuân, tôi và gia đình đều tới đây khám sức khỏe, vừa gần nhà, dịch vụ rất tốt, đặc biệt bác sĩ nhiệt tình, tận tâm. Tôi rất hài lòng dịch vụ tại đây. Từ đó, tôi thường xuyên đến đây kiểm tra sức khỏe khi có nhu cầu</div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>



            <div class="service-main container" id="dangkyngay">
                <h2 class="line-title">CÁC CHƯƠNG TRÌNH ƯU ĐÃI</h2>
                <div class="service-list">
                    <div class="service-row row">

                        <div class="register-col col-lg-7">
                            <div class="banner-slider owl-carousel">




                                <div class="item">
                                    <div class="banner-item">
                                        <a href="#"> <img src="/Content/images/thanhxuan/Banneruudai20.jpg" alt="banner ưu đãi" /></a>

                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="register-col col-lg-5">
                            <div class="register-form">
                                <h2>Đăng ký khám, tư vấn</h2>
                                <div class="form">



                                    <div class="form-group register-name">

                                        <input value="" name="txthoten" class="form-control" placeholder="Họ và tên (*)" type="text" />
                                    </div>
                                    <div class="form-group register-phone">

                                        <input value="" name="txtsdt" class="form-control" placeholder="Số điện thoại (*)" type="text" />
                                    </div>
                                    <div class="form-group register-email">

                                        <input value="" name="txtemail" placeholder="Email" class="form-control" type="email" />
                                    </div>
                                    <div class="form-group register-comment">

                                        <textarea class="form-control" name="txtGhichu" placeholder="Nhu cầu khám của bạn là gì? (không bắt buộc)"></textarea>
                                    </div>


                                    <div class="form-group form-group--btn">
                                        <button type="submit" name="submit" value="SaveAdd">ĐĂNG KÝ</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





        </div>
                }

                <footer class="footer-main">

                    <div class="container">
                        <div class="footer-row row">
                            <div class="footer-col col-lg-4">
                                <div class="contact-info">
                                    <p class="contac-p1">Bệnh viện Đa khoa MEDLATEC</p>
                                    <p class="contac-p2">Trực thuộc Công ty TNHH Công nghệ và Xét nghiệm Y học</p>
                                    <p>Mã số thuế : 0101234974 do Sở Kế hoạch và Đầu tư thành phố Hà Nội cấp ngày 22/04/2002.</p>
                                </div>

                                <div class="social-main">
                                    <a href="https://www.facebook.com/BenhVienDaKhoaMedlatec/"><img src="/Content/images/facebook.png" alt="Bệnh viện đa khoa MEDLATEC" /></a>
                                    <a href="https://www.youtube.com/channel/UCOMskN2D_vfshrGgpL-o55Q"><img src="/Content/images/youtube.png" alt="Bệnh viện đa khoa MEDLATEC" /></a>
                                    <a href="#"><img src="/Content/images/linkin.png" alt="Bệnh viện đa khoa MEDLATEC" /></a>
                                    <a href="#"><img src="/Content/images/twitter.png" alt="Bệnh viện đa khoa MEDLATEC" /></a>
                                </div>
                                <div class="contact-info">
                                    <a class="contac-a1" href="http://online.gov.vn/CustomWebsiteDisplay.aspx?DocId=12640" target="_blank"><img class="contact-img1" src="/Content/images/banner/bo-cong-thuong.png" /></a>
                                </div>
                            </div>
                            <div class="footer-col col-lg-4">
                                <div class="contact-main">
                                    <p class="footer-title d-none d-lg-block">Liên hệ</p>
                                    <ul>
                                        <li class="contact-phone"><img src="/Content/images/phone.png" alt="hotline 1900 565656" />1900 565656</li>
                                        <li class="contact-mail"><img src="/Content/images/mail.png" alt="email" />info@medlatec.com</li>
                                        <li class="contact-address">
                                            <img src="/Content/images/maker.png" alt="Địa chỉ cơ sở" />
                                            <p>1. Số 42 - 44 Nghĩa Dũng, Phúc Xá, Ba Đình, Hà Nội, Việt Nam</p>
                                            <p>2. Số 99 Trích Sài, Tây Hồ, Hà Nội</p>
                                            <p>3. Số 03 Khuất Duy Tiến, Thanh Xuân, Hà Nội.</p>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="footer-col col-lg-4 d-none d-lg-block">
                                <div class="footer-service">
                                    <p class="footer-title">Dịch vụ</p>
                                    <ul>

                                        <li><a href="https://medlatec.vn/dich-vu/kham-suc-khoe-doanh-nghiep" title="Khám sức khỏe">Khám sức khỏe</a></li>

                                        <li><a href="https://medlatec.vn/dich-vu/xet-nghiem-lay-mau-tai-nha" title="Lấy mẫu xét nghiệm tận nơi">Lấy mẫu xét nghiệm tận nơi</a></li>
                                        <li><a href="https://medlatec.vn/dich-vu/bao-hiem-y-te" title="Bảo hiểm y tế">Bảo hiểm y tế</a></li>

                                    </ul>
                                </div>

                                <div class="footer-service">
                                    <p class="footer-title">Quy chế hoạt động</p>
                                    <ul>

                                        <li><a href="https://medlatec.vn/quy-che-hoat-dong">Quy chế hoạt động</a></li>
                                        <li><a href="https://medlatec.vn/chinh-sach-bao-mat">Chính sách bảo mật & Điều khoản sử dụng</a></li>
                                        <li><a href="https://medlatec.vn/trach-nhiem-va-cam-ket">Trách nhiệm và cam kết</a></li>

                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                    <script type="application/ld+json">
                        {
                        "@@context": "http://schema.org",
                        "@@type": "LocalBusiness",
                        "@@id":"https://medlatec.vn",
                        "priceRange":"$$",
                        "image":"https://medlatec.vn/Content/images/logo.jpg",
                        "name" : "Bệnh Viện Đa Khoa Medlatec",
                        "telephone": "+841900565656",
                        "address": {
                        "@@type": "PostalAddress",
                        "streetAddress": "Số 42 - 44 Nghĩa Dũng, Phúc Xá, Ba Đình",
                        "addressLocality": "Hà Nội"
                        },
                        "potentialAction": {
                        "@@type": "OrderAction",
                        "target": {
                        "@@type": "EntryPoint",
                        "urlTemplate": "https://medlatec.vn/dat-lich-lay-mau",
                        "inLanguage": "vi-VN",
                        "actionPlatform": ["http://schema.org/DesktopWebPlatform"]
                        }}}
                    </script>
                    <script type="application/ld+json">
                        {
                        "@@context": "http://schema.org",
                        "@@type": "Hospital",
                        "priceRange":"$$",
                        "@@id":"https://medlatec.vn",
                        "image":"https://medlatec.vn/Content/images/logo.jpg",
                        "name" : "Bệnh Viện Đa Khoa Medlatec",
                        "telephone": "+841900565656",
                        "openingHours": "Mo-Su 00:00-24:00",
                        "ContactPoint": {
                        "telephone": "+841900565656",
                        "contactType": "sales",
                        "contactOption": "TollFree",
                        "areaServed": "VN"},
                        "sameAs":"https://www.facebook.com/BenhVienDaKhoaMedlatec",
                        "slogan":"Dịch vụ tốt, công nghệ cao",
                        "founder":[{
                        "@@type":"Person",
                        "name":"Thầy thuốc Nhân dân Nguyễn Anh Trí ",
                        "url":"https://vi.wikipedia.org/wiki/Nguyễn_Anh_Trí",
                        "@@id":"https://vi.wikipedia.org/wiki/Nguyễn_Anh_Trí",
                        "sameAs":["https://www.facebook.com/tri.1957"]
                        }]
                        }

                    </script>



                </footer>

                <!--- Hotline --->
                <div class="call-hotline d-block d-xl-none">
                    <a href="tel:1900 565656"><img src="/Content/images/call.png" alt="hotline 1900 565656" />1900 565656</a>
                </div>
                <!--- End Hotline --->
                <!--- Messenger --->
                <!--- End Messenger --->

</body>

</html>


<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {    
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        captionText.innerHTML = dots[slideIndex - 1].alt;
    }
</script>
<script type='text/javascript'>window._sbzq || function (e) { e._sbzq = []; var t = e._sbzq; t.push(["_setAccount", 34050]); var n = e.location.protocol == "https:" ? "https:" : "http:"; var r = document.createElement("script"); r.type = "text/javascript"; r.async = true; r.src = n + "//static.subiz.com/public/js/loader.js"; var i = document.getElementsByTagName("script")[0]; i.parentNode.insertBefore(r, i) }(window);</script>
