
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="dns-prefetch" href="https://www.googletagmanager.com">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://mc.yandex.ru">
    <link rel="dns-prefetch" href="https://googleads.g.doubleclick.net">
    <link rel="dns-prefetch" href="https://code.jquery.com">
    <link rel="dns-prefetch" href="https://www.google-analytics.com">
    <link rel="dns-prefetch" href="https://connect.facebook.net">
    <link rel="dns-prefetch" href="https://www.facebook.com">
    <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">
    <link rel="dns-prefetch" href="https://static.subiz.com">



    <title>Hỗ trợ chi phí giúp người dân chăm sóc sức khỏe | Bệnh viện đa khoa Medlatec</title>

    <meta name="description" content="@Html.Raw("Hỗ trợ chi phí giúp người dân chăm sóc sức khỏe | Medlatec")" />


    <meta name="title" content="@Html.Raw("Hỗ trợ chi phí giúp người dân chăm sóc sức khỏe | Bệnh viện đa khoa Medlatec")" />

    <meta name="keywords" content="@Html.Raw("Hỗ trợ chi phí giúp người dân chăm sóc sức khỏe")" />

    <meta property="og:description" content="@Html.Raw("Hỗ trợ chi phí giúp người dân chăm sóc sức khỏe | Bệnh viện đa khoa Medlatec")" />
    <meta property="og:title" content="@Html.Raw("Hỗ trợ chi phí giúp người dân chăm sóc sức khỏe | Medlatec")" />












    <meta property="og:image" content="https://medlatec.vn/Content/Landing-covid/Banner-pc.jpg" />


    <meta property="og:image:secure_url" content="https://medlatec.vn/Content/Landing-covid/Banner-pc.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1110" />
    <meta property="og:image:height" content="514" />

    <meta property="og:type" content="article" />
    <meta property="fb:app_id" content="2092985977431269" />


    <meta property="og:url" content="https://medlatec.vn/dich-vu/ho-tro-chi-phi-giup-nguoi-dan-cham-soc-suc-khoe" />
    <meta name="robots" content="index,follow,all">

    <link rel="canonical" href="https://medlatec.vn/dich-vu/ho-tro-chi-phi-giup-nguoi-dan-cham-soc-suc-khoe" />




    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i&amp;subset=vietnamese" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/lib/owlcarousel/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/Content/css/styles.css" />
    <script src="~/Content/lib/bootstrap/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="~/Content/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/Content/js/default.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.standalone.min.css" />
    <meta name="google-site-verification" content="ccIfgcSBv7UttiBiE_C4LQuIJr1be5vwhE1f5mPY3lg" />
    <script type="text/javascript">
        if (window.location.protocol == "http:") {
            var restOfUrl = window.location.href.substr(5);
            restOfUrl = restOfUrl.replace("www.", "");
            window.location = "https:" + restOfUrl;[w]
        }
    </script>



    <link rel="apple-touch-icon" sizes="180x180" href="/Content/images/logochuan-01.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Content/images/logochuan-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Content/images/logochuan-16.png">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-20501699-10"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-20501699-10');
    </script>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WG5728Z"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WG5728Z');</script>
    <!-- End Google Tag Manager -->
    <style>
        hr {
            border-top: 1px solid white;
        }

        .nav-menu--wrapper li a {
            padding: 20px 10px 9px;
            height: 80px;
        }

        .nav-menu {
            border-bottom: 1px solid white;
        }

        .service-item {
            border: none;
            padding: 8px;
        }

            .service-item p {
                color: #444;
            }

        .line-title {
            font-size: 28px;
        }

        /* Hide the images by default */
        .mySlides {
            display: none;
        }

        /* Add a pointer when hovering over the thumbnail images */
        .cursor {
            cursor: pointer;
        }

        /* Next & previous buttons */
        .prev,
        .next {
            cursor: pointer;
            position: absolute;
            top: 40%;
            width: auto;
            padding: 16px;
            margin-top: -50px;
            color: white;
            font-weight: bold;
            font-size: 20px;
            border-radius: 0 3px 3px 0;
            user-select: none;
            -webkit-user-select: none;
        }

        /* Position the "next button" to the right */
        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }

            /* On hover, add a black background color with a little bit see-through */
            .prev:hover,
            .next:hover {
                background-color: rgba(0, 0, 0, 0.8);
            }

        /* Number text (1/3 etc) */
        .numbertext {
            color: #f2f2f2;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
        }

        /* Container for image text */
        .caption-container {
            text-align: center;
            background-color: #222;
            padding: 2px 16px;
            color: white;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        /* Six columns side by side */
        .column {
            float: left;
            width: 16.66%;
        }

        /* Add a transparency effect for thumnbail images */
        .demo {
            opacity: 0.6;
        }

            .active,
            .demo:hover {
                opacity: 1;
            }

        .feedback-customer {
            background: none;
        }

            .feedback-customer::before {
                background: none;
            }

            .feedback-customer h2 {
                font-weight: 400;
                color: #fff;
                text-transform: none;
                font-family: roboto;
            }

        .khonggian {
            padding: 3px;
        }

            .khonggian a {
                display: block;
                position: relative;
                overflow: hidden;
            }

            .khonggian img {
                width: 100%;
                height: auto;
                -webkit-transition: all 0.5s ease-in-out;
                -moz-transition: all 0.5s ease-in-out;
                -o-transition: all 0.5s ease-in-out;
                -ms-transition: all 0.5s ease-in-out;
                transition: all 0.5s ease-in-out;
            }

            .khonggian:hover img {
                -webkit-transform: scale(1.2);
                -moz-transform: scale(1.2);
                -o-transform: scale(1.2);
                -ms-transform: scale(1.2);
                transform: scale(1.2);
            }
    </style>


</head>
<body>
    @using (Html.BeginForm("LandingHotrosuckhoe", "Landing", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <header class="header-main">

            <div class="nav-main navbar-fixed-top d-block d-xl-none">
                <div class="container clearfix">


                    <div class="language-main">
                        <a href="tel:1900 565656" style="float:left;"><img src="/Content/images/hotline.png" alt="hotline 1900 565656" style="height:30px;margin-top:10px;margin-left:10px;" /></a>

                        <div class="language-flag" style="margin-left:46px;"><img src="/Content/images/banner/logo3.png" alt="logo" /></div>
                    </div>

                    <div class="nav-button d-block d-xl-none">
                        <img src="/Content/images/bar.png" alt="menu" />
                    </div>


                </div>


            </div>

        </header>

        <div class="nav-menu fixed-top">
            <div class="container nav-menu--wrapper">
                <div class="nav-menu--header">Danh mục</div>
                <ol>
                    <li class="menu-active"><a href="https://medlatec.vn" style="height:70px;padding:0px;background-color:transparent;margin-top:10px;"><img src="/Content/images/banner/logo3.png" alt="trang chủ" style="height:65px;" /></a></li>

                    <li class="has-children" style="float:right;">
                        <a href="#dangkyngay" title="Đăng ký">Đăng ký<i class="arrow-children"></i></a>

                    </li>
                    <li class="has-children" style="float:right;">
                        <a href="#doingu" title="Đội ngũ chuyên gia">Đội ngũ chuyên gia<i class="arrow-children"></i></a>

                    </li>
                    <li class="has-children" style="float:right;">
                        <a href="#coso" title="Cơ sở vật chất">Cơ sở vật chất<i class="arrow-children"></i></a>

                    </li>
                    <li class="has-children" style="float:right;">
                        <a href="#quatang" title="Ư đãi">Quà tặng ưu đãi<i class="arrow-children"></i></a>

                    </li>
                    <li class="has-children" style="float:right;">
                        <a href="#nguyco" title="Nguy cơ">Cảnh báo nguy cơ<i class="arrow-children"></i></a>

                    </li>





                </ol>
            </div>
        </div>


        <div class="col-12 d-block d-xl-none" style="padding-left:0px;padding-right:0px;">
            <a href="#dangkyngay">
                <img data-src="/Content/images/Landing-covid/mb.jpg" alt="slide 1" src="/Content/images/Landing-covid/mb.jpg">
            </a>
        </div>
        <div class="col-lg-12 d-none d-sm-block" style="padding-left:0px;padding-right:0px;">
            <a href="#dangkyngay">
                <img alt="Hỗ trợ sức khỏe" src="/Content/images/Landing-covid/Banner-pc.jpg">
            </a>
        </div>




        <div class="xntn-main" id="nguyco">

            <div style="background-image:url(/Content/images/Landing-covid/background-3.jpg);background-size: cover;">
                <div class="service-main container">
                    <h2 class="line-title">Các nguy cơ tiềm ẩn về sức khỏe cần kiểm tra sau mùa dịch</h2>
                    <div class="service-list">
                        <div class="service-row row">
                            <div class="service-col col-6 col-lg-4">
                                <div class="service-item">
                                    <img src="/Content/images/Landing-covid/benh-co-xuong-khop.jpg" alt="Đứng thứ 4 về tỷ lệ tử vong trên thế giới sau ung thư phổi" />
                                </div>
                            </div>
                            <div class="service-col col-6 col-lg-4">
                                <div class="service-item">

                                    <img src="/Content/images/Landing-covid/benh-ly-duong-tieu-hoa.jpg" alt="Đứng thứ 4 về tỷ lệ tử vong trên thế giới sau ung thư phổi" />
                                </div>
                            </div>
                            <div class="service-col col-6 col-lg-4">
                                <div class="service-item">

                                    <img src="/Content/images/Landing-covid/benh-beo-phi.jpg" alt="Đứng thứ 4 về tỷ lệ tử vong trên thế giới sau ung thư phổi" />
                                </div>
                            </div>
                            <div class="service-col col-6 col-lg-4">
                                <div class="service-item">
                                    <img src="/Content/images/Landing-covid/benh-ly-man-tinh.jpg" alt="Đứng thứ 4 về tỷ lệ tử vong trên thế giới sau ung thư phổi" />
                                </div>
                            </div>
                            <div class="service-col col-6 col-lg-4">
                                <div class="service-item">
                                    <img src="/Content/images/Landing-covid/suc-khoe-thai-ky.jpg" alt="Sức khỏe thai kỳ" />
                                </div>
                            </div>
                            <div class="service-col col-6 col-lg-4">
                                <div class="service-item">
                                    <img src="/Content/images/Landing-covid/benh-truyen-nhiem.jpg" alt="Đứng thứ 4 về tỷ lệ tử vong trên thế giới sau ung thư phổi" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="xntn-service container" style="margin-bottom:25px;" id="doituong">

                <h2 class="line-title">AI CẦN KIỂM TRA SỨC KHỎE SAU DỊCH COVID-19?</h2>
                <div class="xntn-service-container row">
                    <div class="xntn-service-col col-6 col-lg-3" style="text-align:center;">
                        <div class="service-item">
                            <img src="/Content/images/Landing-covid/benh-man-tinh.png" alt="Bệnh mãn tính" style="max-width:180px;width: 90%;" />
                        </div>
                    </div>
                    <div class="xntn-service-col col-6 col-lg-3" style="text-align:center;">
                        <div class="service-item">
                            <img src="/Content/images/Landing-covid/benh-truyen-nhiem.png" alt="Bệnh truyền nhiễm" style="max-width:180px;width: 90%;" />
                        </div>
                    </div>
                    <div class="xntn-service-col col-6 col-lg-3" style="text-align:center;">
                        <div class="service-item">
                            <img src="/Content/images/Landing-covid/san-phu.png" alt="Sản phụ" style="max-width:180px;width: 90%;" />
                        </div>
                    </div>
                    <div class="xntn-service-col col-6 col-lg-3" style="text-align:center;">
                        <div class="service-item">
                            <img src="/Content/images/Landing-covid/benh-giao-mua.png" alt="Bệnh giao mùa" style="max-width:180px;width: 90%;" />
                        </div>
                    </div>
                    <div class="xntn-service-col  col-lg-12" style="margin-top:25px;">
                        <div class="service-item">
                            <div class="xntn-register"><a href="#dangkyngay">Đăng ký nhận ưu đãi ngay</a></div>
                        </div>
                    </div>
                </div>

            </div>







            <div class="feedback-customer" id="doingu" style="background:transparent;background-image:url(/Content/images/Landing-covid/background-03.jpg);background-size: cover;">
                <div class="container">
                    <h2 class="title">Đội ngũ chuyên gia</h2>
                    <hr />
                    <div class="banner-feature--row row">
                        <div class="banner-feature--col col-xl-7">

                            <div class="mySlides">
                                <div class="numbertext">1 / 6</div>
                                <img src="/Content/images/Landing-covid/bs-thi-ngoc.jpg" style="width:100%">
                            </div>

                            <div class="mySlides">
                                <div class="numbertext">2 / 6</div>
                                <img src="/Content/images/Landing-covid/Bs-nghi.jpg" style="width:100%">
                            </div>

                            <div class="mySlides">
                                <div class="numbertext">3 / 6</div>
                                <img src="/Content/images/Landing-covid/bs-ngoc.jpg" style="width:100%">
                            </div>

                            <div class="mySlides">
                                <div class="numbertext">4 / 6</div>
                                <img src="/Content/images/Landing-covid/bs-phuong.jpg" style="width:100%">
                            </div>


                        </div>
                        <div class="banner-feature--col col-xl-5">

                            <div class="feature-main container">
                                <div class="row">
                                    <div class="feature-col col-6">

                                        <img class="demo cursor" src="/Content/images/Landing-covid/av-bs-thi-ngoc.jpg" style="width:100%" onclick="currentSlide(1)" alt="">

                                    </div>
                                    <div class="feature-col col-6">
                                        <img class="demo cursor" src="/Content/images/Landing-covid/av-bs-nghi.jpg" style="width:100%" onclick="currentSlide(2)" alt="">
                                    </div>
                                    <div class="feature-col col-6">
                                        <img class="demo cursor" src="/Content/images/Landing-covid/av-bs-ngoc.jpg" style="width:100%" onclick="currentSlide(3)" alt="">
                                    </div>
                                    <div class="feature-col col-6">
                                        <img class="demo cursor" src="/Content/images/Landing-covid/av-bs-phuong.jpg" style="width:100%" onclick="currentSlide(4)" alt="">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="xntn-main" id="coso" style="padding-bottom:0px;padding-top:45px;">

                <h2 class="line-title" style="margin-bottom:35px;">HỆ THỐNG CƠ SỞ VẬT CHẤT HIỆN ĐẠI</h2>
                <div class="banner-feature--row row">

                    <div class="banner-feature--col col-xl-12">

                        <div class="feature-main">

                            <div class="row" style="background-color:white;">
                                <div class="feature-col col-6 col-lg-3">
                                    <div class="khonggian">
                                        <a href="#" title="">
                                            <img src="/Content/images/thanhxuan/1.png">
                                        </a>
                                    </div>
                                </div>
                                <div class="feature-col col-6 col-lg-3">

                                    <div class="khonggian">

                                        <a href="#" title="">
                                            <img src="/Content/images/thanhxuan/2.png">
                                        </a>

                                    </div>

                                </div>
                                <div class="feature-col col-6 col-lg-3">

                                    <div class="khonggian">
                                        <a href="#" title="">
                                            <img src="/Content/images/thanhxuan/3.png">
                                        </a>

                                    </div>

                                </div>
                                <div class="feature-col col-6 col-lg-3">

                                    <div class="khonggian">
                                        <a href="#" title="">
                                            <img src="/Content/images/thanhxuan/4.png">
                                        </a>

                                    </div>

                                </div>

                                <div class="feature-col col-6 col-lg-3">
                                    <div class="khonggian">
                                        <a href="#" title="">
                                            <img src="/Content/images/thanhxuan/5.png">
                                        </a>

                                    </div>
                                </div>
                                <div class="feature-col col-6 col-lg-3">

                                    <div class="khonggian">
                                        <a href="#" title="">
                                            <img src="/Content/images/thanhxuan/6.png">
                                        </a>

                                    </div>

                                </div>
                                <div class="feature-col col-6 col-lg-3">

                                    <div class="khonggian">
                                        <a href="#" title="">
                                            <img src="/Content/images/thanhxuan/7.png">
                                        </a>
                                    </div>

                                </div>
                                <div class="feature-col col-6 col-lg-3">

                                    <div class="khonggian">
                                        <a href="#" title="">
                                            <img src="/Content/images/thanhxuan/8.png">
                                        </a>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>



            <div class="xntn-step d-none d-lg-block" id="quatang" style="margin-bottom:15px;background:transparent;background-image:url(/Content/images/Landing-covid/background-3.jpg);background-size: cover;">
                <h2 class="title" style="margin-bottom: 25px;padding-top: 35px;">QUÀ TẶNG ƯU ĐÃI</h2>
                <div class="container" style="padding-bottom: 75px;">
                    <div class="col-lg-12 d-none d-lg-block">
                        <img src="/Content/images/Landing-covid/hop-qua-05.png" alt="Đăng ký liền tay" />
                    </div>
                </div>


            </div>

            <div class="xntn-step d-block d-xl-none" id="chuongtrinhmienphi" style="margin-bottom:15px;background:transparent;background-image:url(/Content/images/Landing-covid/background-3.jpg);background-size: cover;">
                <h2 class="title" style="margin-bottom: 15px;padding-top: 35px;">QUÀ TẶNG ƯU ĐÃI</h2>
                <div class="container" style="padding-bottom: 15px;">

                    <div class="col-xs-12 d-block d-xl-none">
                        <img src="/Content/images/Landing-covid/voucherm-05-05.png" alt="Đăng ký liền tay" />
                    </div>
                    <div class="col-xs-12 d-block d-xl-none" style="margin-top:15px;">
                        <img src="/Content/images/Landing-covid/voucherm-05-07.png" alt="Đăng ký liền tay" />
                    </div>
                </div>


            </div>






            @Html.Raw(TempData["msg"])
            <div class="xntn-form-dk1" id="dangkyngay" style="background:transparent;background-image:url(/Content/images/Landing-covid/fixing-05.png);background-size: cover;min-height:500px;">
                <div class="container">
                    <div class="xntn-form-container row">
                        <div class="col-lg-6 d-none d-lg-block">
                            <div class="xntn-form-img" style="bottom: 0px;"><img src="/Content/images/Landing-covid/fix-06.png" alt="Đăng ký liền tay" /></div>
                        </div>
                        <div class="col-lg-6">


                            @Html.AntiForgeryToken()
                            <div class="register-form" style="width:100%;background:transparent;background-image:url(/Content/images/Landing-covid/fixing-07.png);background-size: cover;padding:18%;border:none;background-repeat:round;">


                                <img src="/Content/images/Landing-covid/text-h3.png" />

                                <div style="padding-top:10px;">
                                    <div class="form-group">
                                        <input placeholder="Họ tên (Bắt buộc)" name="txtHoten" type="text" class="form-control" />
                                    </div>
                                    <div class="form-group form-group-flex">
                                        <input placeholder="Số điện thoại (Bắt buộc)" name="txtdt" type="text" class="form-control" />

                                    </div>
                                    <div class="form-group form-group-flex">
                                        <input placeholder="Email" type="text" name="txtemail" class="form-control" />

                                    </div>


                                    <div class="form-group">
                                        <input placeholder="Địa chỉ" name="txtdiachi" type="text" class="form-control" />
                                    </div>
                                    <div class="form-group register-email">

                                        <h6 style="text-align:center;">Bạn muốn nhận mã voucher nào ?</h6>
                                        <select id="locationCustomer" name="dllNgayhen" class="form-control tab-customer--location" style="text-align-last:center;">
                                            <option value="v200">Voucher 200K - Lấy mẫu tại nhà</option>
                                            <option value="v300">Voucher 300K - Khám tại bệnh viện</option>


                                        </select>

                                    </div>
                                    <div class="form-group form-group--btn" style="margin-bottom:25px;">
                                        <button type="submit" name="submit" class="btn-submit" value="SaveAdd">ĐĂNG KÝ</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }

    <footer class="footer-main">

        <div class="container">
            <div class="footer-row row">
                <div class="footer-col col-lg-4">
                    <div class="contact-info">
                        <p class="contac-p1">Bệnh viện Đa khoa MEDLATEC</p>
                        <p class="contac-p2">Trực thuộc Công ty TNHH Công nghệ và Xét nghiệm Y học</p>
                        <p>Mã số thuế : 0101234974 do Sở Kế hoạch và Đầu tư thành phố Hà Nội cấp ngày 22/04/2002.</p>
                    </div>

                    <div class="social-main">
                        <a href="https://www.facebook.com/BenhVienDaKhoaMedlatec/"><img src="/Content/images/facebook.png" alt="Bệnh viện đa khoa MEDLATEC" /></a>
                        <a href="https://www.youtube.com/channel/UCOMskN2D_vfshrGgpL-o55Q"><img src="/Content/images/youtube.png" alt="Bệnh viện đa khoa MEDLATEC" /></a>
                        <a href="#"><img src="/Content/images/linkin.png" alt="Bệnh viện đa khoa MEDLATEC" /></a>
                        <a href="#"><img src="/Content/images/twitter.png" alt="Bệnh viện đa khoa MEDLATEC" /></a>
                    </div>
                    <div class="contact-info">
                        <a class="contac-a1" href="http://online.gov.vn/CustomWebsiteDisplay.aspx?DocId=12640" target="_blank"><img class="contact-img1" src="/Content/images/banner/bo-cong-thuong.png" /></a>
                    </div>
                </div>
                <div class="footer-col col-lg-4">
                    <div class="contact-main">
                        <p class="footer-title d-none d-lg-block">Liên hệ</p>
                        <ul>
                            <li class="contact-phone"><img src="/Content/images/phone.png" alt="hotline 1900 565656" />1900 565656</li>
                            <li class="contact-mail"><img src="/Content/images/mail.png" alt="email" />info@medlatec.com</li>
                            <li class="contact-address">
                                <img src="/Content/images/maker.png" alt="Địa chỉ cơ sở" />
                                <p>1. Số 42 - 44 Nghĩa Dũng, Phúc Xá, Ba Đình, Hà Nội, Việt Nam</p>
                                <p>2. Số 99 Trích Sài, Tây Hồ, Hà Nội</p>
                                <p>3. Số 05 Khuất Duy Tiến, Thanh Xuân, Hà Nội.</p>

                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer-col col-lg-4 d-none d-lg-block">
                    <div class="footer-service">
                        <p class="footer-title">Dịch vụ</p>
                        <ul>

                            <li><a href="https://medlatec.vn/dich-vu/kham-suc-khoe-doanh-nghiep" title="Khám sức khỏe">Khám sức khỏe</a></li>

                            <li><a href="https://medlatec.vn/dich-vu/xet-nghiem-lay-mau-tai-nha" title="Lấy mẫu xét nghiệm tận nơi">Lấy mẫu xét nghiệm tận nơi</a></li>
                            <li><a href="https://medlatec.vn/dich-vu/bao-hiem-y-te" title="Bảo hiểm y tế">Bảo hiểm y tế</a></li>

                        </ul>
                    </div>

                    <div class="footer-service">
                        <p class="footer-title">Quy chế hoạt động</p>
                        <ul>

                            <li><a href="https://medlatec.vn/quy-che-hoat-dong">Quy chế hoạt động</a></li>
                            <li><a href="https://medlatec.vn/chinh-sach-bao-mat">Chính sách bảo mật & Điều khoản sử dụng</a></li>
                            <li><a href="https://medlatec.vn/trach-nhiem-va-cam-ket">Trách nhiệm và cam kết</a></li>

                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <script type="application/ld+json">
            {
            "@@context": "http://schema.org",
            "@@type": "LocalBusiness",
            "@@id":"https://medlatec.vn",
            "priceRange":"$$",
            "image":"https://medlatec.vn/Content/images/logo.jpg",
            "name" : "Bệnh Viện Đa Khoa Medlatec",
            "telephone": "+841900565656",
            "address": {
            "@@type": "PostalAddress",
            "streetAddress": "Số 42 - 44 Nghĩa Dũng, Phúc Xá, Ba Đình",
            "addressLocality": "Hà Nội"
            },
            "potentialAction": {
            "@@type": "OrderAction",
            "target": {
            "@@type": "EntryPoint",
            "urlTemplate": "https://medlatec.vn/dat-lich-lay-mau",
            "inLanguage": "vi-VN",
            "actionPlatform": ["http://schema.org/DesktopWebPlatform"]
            }}}
        </script>
        <script type="application/ld+json">
            {
            "@@context": "http://schema.org",
            "@@type": "Hospital",
            "priceRange":"$$",
            "@@id":"https://medlatec.vn",
            "image":"https://medlatec.vn/Content/images/logo.jpg",
            "name" : "Bệnh Viện Đa Khoa Medlatec",
            "telephone": "+841900565656",
            "openingHours": "Mo-Su 00:00-24:00",
            "ContactPoint": {
            "telephone": "+841900565656",
            "contactType": "sales",
            "contactOption": "TollFree",
            "areaServed": "VN"},
            "sameAs":"https://www.facebook.com/BenhVienDaKhoaMedlatec",
            "slogan":"Dịch vụ tốt, công nghệ cao",
            "founder":[{
            "@@type":"Person",
            "name":"Thầy thuốc Nhân dân Nguyễn Anh Trí ",
            "url":"https://vi.wikipedia.org/wiki/Nguyễn_Anh_Trí",
            "@@id":"https://vi.wikipedia.org/wiki/Nguyễn_Anh_Trí",
            "sameAs":["https://www.facebook.com/tri.1957"]
            }]
            }

        </script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("button").click(function () {
                    window.location.href = "/tim-kiem?tukhoa=" + document.getElementById('timkiem').value;
                });
            });
        </script>
        <script type="text/javascript">
            $(document).ready(function () {
                $(".btntimkiem").bind("click", function (evt) {
                    if (document.getElementById('timkiem').value.length < 2) {
                        alert("Mời bạn nhập từ khóa tìm kiếm");
                        return false;
                    } else {
                        window.location.href = "/tim-kiem?tukhoa=" + document.getElementById('timkiem').value;
                        evt.preventDefault();
                    }

                });
            });
        </script>

        <script>
            var input = document.getElementById("timkiem");
            input.addEventListener("keyup", function (event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                    document.getElementById("nuttimkiem").click();
                }
            });
        </script>
    </footer>

    <!--- Hotline --->
    <div class="call-hotline d-block d-xl-none">
        <a href="tel:1900 565656"><img src="/Content/images/call.png" alt="hotline 1900 565656" />1900 565656</a>
    </div>
    <!--- End Hotline --->
    <!--- Messenger --->
    <!--- End Messenger --->

</body>

</html>

<script>!function (s, u, b, i, z) { var o, t, r, y; s[i] || (s._sbzaccid = z, s[i] = function () { s[i].q.push(arguments) }, s[i].q = [], s[i]("setAccount", z), r = ["widget.subiz.net", "storage.googleapis" + (t = ".com"), "app.sbz.workers.dev", i + "a" + (o = function (k, t) { var n = t <= 6 ? 5 : o(k, t - 1) + o(k, t - 3); return k !== t ? n : n.toString(32) })(20, 20) + t, i + "b" + o(30, 30) + t, i + "c" + o(40, 40) + t], (y = function (k) { var t, n; s._subiz_init_2094850928430 || r[k] && (t = u.createElement(b), n = u.getElementsByTagName(b)[0], t.async = 1, t.src = "https://" + r[k] + "/sbz/app.js?accid=" + z, n.parentNode.insertBefore(t, n), setTimeout(y, 2e3, k + 1)) })(0)) }(window, document, "script", "subiz", "acqqygtujcouievpmxgd")</script>


<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        captionText.innerHTML = dots[slideIndex - 1].alt;
    }
</script>

<script type='text/javascript'>window._sbzq || function (e) { e._sbzq = []; var t = e._sbzq; t.push(["_setAccount", 34050]); var n = e.location.protocol == "https:" ? "https:" : "http:"; var r = document.createElement("script"); r.type = "text/javascript"; r.async = true; r.src = n + "//static.subiz.com/public/js/loader.js"; var i = document.getElementsByTagName("script")[0]; i.parentNode.insertBefore(r, i) }(window);</script>
