
@model  MEDLATEC2019.Models.MPTXViewModel
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8" />
    <title>Xét nghiệm NIPT - Sàng lọc trước sinh không xâm lấn | Bệnh viện đa khoa Medlatec</title>

    <meta name="description" content="Xét nghiệm NIPT là phương pháp xét nghiệm sàng lọc trước sinh với khả năng kiểm tra và phát hiện ra các dạng bệnh lý di truyền, dị tật gây ảnh hưởng tới sức khỏe cũng như sự phát triển của thai nhi." />


    <meta name="title" content="Sàng lọc trước sinh không xâm lấn NIPT| Bệnh viện đa khoa Medlatec" />

    <meta name="keywords" content="Xét nghiệm NIPT, gói Xét nghiệm NIPT, khám Sàng lọc trước sinh không xâm lấn, gói khám sàng lọc trước khi sinh" />

    <meta property="og:description" content="Xét nghiệm NIPT là phương pháp xét nghiệm sàng lọc trước sinh với khả năng kiểm tra và phát hiện ra các dạng bệnh lý di truyền, dị tật gây ảnh hưởng tới sức khỏe cũng như sự phát triển của thai nhi.">
    <meta property="og:title" content="Khám sức khoẻ doanh nghiệp, cho nhân viên tại bệnh viện Medlatec" />
    <meta property="og:title" content="Sàng lọc trước sinh không xâm lấn NIPT| Bệnh viện đa khoa Medlatec">
    <meta property="og:image" content="https://medlatec.vn/Content/images/niptNew/images/banner.png">



    <meta property="og:image:secure_url" content="https://medlatec.vn/Content/images/niptNew/images/nipt/banner.png">


    <meta property="og:image:secure_url" content="https://medlatec.vn/Content/images/niptNew/images/banner.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1110" />
    <meta property="og:image:height" content="514" />
    <meta property="og:type" content="article" />
    <meta property="fb:app_id" content="2092985977431269" />



    <meta property="og:url" content="https://medlatec.vn/dich-vu/sang-loc-truoc-sinh-khong-xam-lan-nipt" />
    <meta name="robots" content="index,follow,all">

    <link rel="canonical" href="/dich-vu/sang-loc-truoc-sinh-khong-xam-lan-nipt" />

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i&amp;subset=vietnamese" rel="stylesheet" />
    <link rel="stylesheet" href="/Content/images/niptNew/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/Content/images/niptNew/lib/owlcarousel/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="/Content/images/niptNew/css/styles.css" />
    <link rel="stylesheet" href="/Content/images/niptNew/css/responsive.css" />
    <script src="/Content/images/niptNew/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Content/images/niptNew/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/Content/images/niptNew/js/default.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.standalone.min.css" />
    <meta name="google-site-verification" content="ccIfgcSBv7UttiBiE_C4LQuIJr1be5vwhE1f5mPY3lg" />


</head>
<body>
    <header>
        <div class="container container1 nav-menu--wrapper">
            <ol>
                <li class="menu-active"><a href="https://medlatec.vn" style="padding-top:10px;"><img src="/Content/images/niptNew/images/icon/logochuan-01.png" style="" alt="trang chủ" /></a></li>

                <li class="has-children d-none d-xl-block" style="float:right;">
                    <a style="color:#F9E484; text-decoration: none;" href="#dangkyngay" id="" title="Đăng ký ngay">Đăng ký ngay</a>

                </li>
                <li class="has-children d-none d-xl-block" style="float:right;">
                    <a style="color: white; text-decoration: none;" href="#hethong" title="Hệ thống cơ sở vật chất">Hệ thống dịch vụ</a>

                </li>
                <li class="has-children d-none d-xl-block" style="float:right;">
                    <a style="color: white; text-decoration: none;" href="#banggia" title="bảng giá">Bảng giá</a>

                </li>
                <li class="has-children d-none d-xl-block" style="float:right;">
                    <a style="color: white; text-decoration: none;" href="#doituong" title="Đối tượng">Đối tượng</a>

                </li>
                <li class="has-children d-none d-xl-block" style="float:right;">
                    <a style="color: white; text-decoration: none;" href="#uudiem" title="Ưu điểm">Ưu điểm</a>

                </li>
                <li class="has-children d-none d-xl-block" style="float:right;">
                    <a style="color: white; text-decoration: none;" href="http://medlatec.vn/">Trang chủ</a>

                </li>
            </ol>
        </div>
    </header>



   
        <div class="">

            <div class="register-main">
                <div class="feedback-customer-3" id="formInput">
                    <div class="justify-content-center ft_but">
                        <a href="#dangkyngay">
                            <div style="margin-bottom: 10px" class="btn btn-default medlatec-btn-submitNow">
                                <p id="btnregister1">Đăng Ký Ngay</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="body-skdn">
            <div class="sec1">
                <div class="container">
                    <div class="row">
                        <div class="sec21">
                            <img src="/Content/images/niptNew/images/nipt/sec1.png">
                        </div>
                        <p style="font-weight: 600" class="text_content_sec1">
                            Xét nghiệm NIPT là phương pháp xét nghiệm sàng lọc trước sinh với khả năng kiểm tra và phát hiện ra các dạng bệnh lý di truyền, dị tật gây ảnh hưởng tới sức khỏe cũng như sự phát triển của thai nhi.</br>
                            Thông qua sự đánh giá, phân tích ADN tự do, NIPT giúp dễ dàng phát hiện các bệnh về rối loạn số lượng nhiễm sắc thể. Bao gồm:
                        </p>
                        <div class="owl-carousel owl-theme">
                            <div class="item fix-margin-content">
                                <div class="block-row">
                                    <div class="row-one1"></div>
                                    <div class="arrow">
                                        <div class="arrow-transform1"></div>
                                    </div>
                                    <div class="Data-contents1">
                                        <p class="content-first">Bất thường về số lượng nhiễm sắc thể gây ra các hội chứng phổ biến:</p>
                                        <p class="content-last">Trẻ sẽ bị các bệnh như: Down (bệnh thiểu năng trí tuệ), Patau (Dị tật đầu nhỏ, sứt môi, hở hàm ếch…), Edwards (các vấn đề thể chất, trí tuệ…)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item fix-margin-content">
                                <div class="block-row">
                                    <div class="row-one2"></div>
                                    <div class="arrow">
                                        <div class="arrow-transform2"></div>
                                    </div>
                                    <div class="Data-contents2">
                                        <p class="content-first">Bất thường NST giới tính gây ra hội chứng:</p>
                                        <p class="content-last">Trẻ sẽ gặp những bất thường về hình thái như: Thấp lùn, cổ ngắn, lõm, chân tóc thấp; Cao hơn tầm vóc trung bình, tay chân dài, trương lực cơ yếu, vận động kém…</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item fix-margin-content">
                                <div class="block-row">
                                    <div class="row-one3"></div>
                                    <div class="arrow">
                                        <div class="arrow-transform1"></div>
                                    </div>
                                    <div class="Data-contents1">
                                        <p class="content-first">Hội chứng do đột biến vi mất đoạn:</p>
                                        <p class="content-last">Các hội chứng mất đoạn nhiễm sắc thể gây các khuyết tật về vận động và trí não.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item fix-margin-content">
                                <div class="block-row">
                                    <div class="row-one4"></div>
                                    <div class="arrow">
                                        <div class="arrow-transform2"></div>
                                    </div>
                                    <div class="Data-contents2">
                                        <p class="content-first">Bất thường số lượng tất cả các NST còn lại</p>
                                        <p class="content-last">Gây ra các dị dạng, dị tật ở trẻ như: mặt dài, dị dạng xương khớp, tim mạch…</p>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <div class="sec2" id="uudiem">

                <div class="container fix-container">
                    <div class="row">
                        <div class="sec21">
                            <img src="/Content/images/niptNew/images/nipt/uudiem.png">
                        </div>
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="content-data">
                                    <div class="img-top">
                                        <img src="/Content/images/niptNew/images/nipt/b1.png" alt="">
                                    </div>
                                    <div class="context-data">
                                        <div class="text text1">
                                            <p class="text_sec1">
                                                Sàng lọc dị tật từ giai đoạn sớm: Ngay từ tuần thứ 10 của thai kỳ
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="content-data">
                                    <div class="img-top">
                                        <img src="/Content/images/niptNew/images/nipt/b2.png" alt="">
                                    </div>
                                    <div class="context-data">
                                        <div class="text text1">
                                            <p class="text_sec1">
                                                Xét nghiệm NIPT áp dụng công nghệ giải trình tự gen cho kết quả tin cậy tới 99,98%;
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="content-data">
                                    <div class="img-top">
                                        <img src="/Content/images/niptNew/images/nipt/b3.png" alt="">
                                    </div>
                                    <div class="context-data">
                                        <div class="text text1">
                                            <p class="more text_sec1">
                                                Không cần sinh thiết nhau thai cũng như không can thiệp xâm lấn đến thai nhi mà chỉ cần lấy 7 - 10ml máu của mẹ, an toàn tuyệt đối cho cả mẹ và con.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="content-data">
                                    <div class="img-top">
                                        <img src="/Content/images/niptNew/images/nipt/b4.png" alt="">
                                    </div>
                                    <div class="context-data">
                                        <div class="text text1 ">
                                            <p class="more text_sec1">
                                                -    Phục vụ lấy mẫu xét nghiệm tận nơi trên toàn quốc 24/7.</br>
                                                -   Tra cứu kết quả nhanh chóng trên website:&nbsp<a target="_blank" style="color:#2C7AC4" href="https://medlatec.vn/tra-cuu-ket-qua">medlatec.vn</a>/app Medon.</br>
                                                -   Chuyên gia, Bác sỹ tư vấn, hỗ trợ biện pháp can thiệp phù hợp nếu có kết quả bất thường

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sec3" id="doituong">
                <div class="container fix-container">
                    <div class="row">
                        <div class="sec21">
                            <img src="/Content/images/niptNew/images/nipt/doituong.png">
                        </div>
                        <div class="content_sec3">
                            <p style="font-size:32px; color: #2C7AC4; font-weight: 450; " class="text_content_sec3">Dù bạn mang thai khi còn trẻ, con bạn vẫn đối mặt với nguy cơ bị dị tật bẩm sinh. Nguy cơ đó càng tăng lên nếu bạn rơi vào 1 trong những trường hợp sau:</p>
                            <p class="text_content_sec3">1.Quyết định 1807 của Bộ Y tế ra ngày 21/4/2020 -  Khuyến cáo: TẤT CẢ phụ nữ mang thai từ tuần thứ 10 trở lên nên thực hiện xét nghiệm NIPT sau khi có kết quả siêu âm thai và được chuyên gia tư vấn di truyền tư vấn để có chỉ định phù hợp.</p>
                            <p class="text_content_sec3" style="color: #30B3D2">2. Mẹ bầu bị sảy thai, thai lưu nhiều lần trước đó không rõ nguyên do.</p>
                            <p class="text_content_sec3">3. Mẹ mang thai khi lớn tuổi (trên 35 tuổi), trẻ sinh ra có nguy cơ dị tật thai cao.</p>
                            <p class="text_content_sec3" style="color: #30B3D2">4. Gia đình có tiền sử mang thai dị tật, trẻ bị dị tật bẩm sinh, phát triển trí tuệ chậm, đặc biệt là những đứa con trước đó.</p>
                            <p class="text_content_sec3">5. Phụ nữ mang thai khi sàng lọc qua siêu âm - đo độ mờ da gáy, xét nghiệm Double Test hay Triple Test nghi ngờ thai bị dị tật bẩm sinh.</p>
                            <p class="text_content_sec3" style="color: #30B3D2">6. Mẹ bầu trước khi mang thai hoặc trong thời gian mang thai có tiếp xúc với phóng xạ năng lượng cao, hóa chất độc hại…</p>
                            <p class="text_content_sec3">7.  Mẹ mang thai gặp phải các bệnh truyền nhiễm như thủy đậu, sởi, rubella, cảm cúm…</p>
                        </div>
                        <div class="btn_submit" style="padding-left: 10%;">
                            <a href="#dangkyngay">
                                <div style="margin-bottom: 10px" class="btn btn-default medlatec-btn-submitNow">
                                    <p id="btnregister1">Đăng Ký Ngay</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sec4" id="banggia">

                <div class="container service_list">
                    <div class="row">
                        <div class="sec21">
                            <img src="/Content/images/niptNew/images/nipt/sec4.png">
                        </div>
                        <div class="owl-carousel owl-theme">
                            <div class="item"><img class="img_sv" src="/Content/images/niptNew/images/nipt/s1.png" alt="" /></div>
                            <div class="item"><img class="img_sv" src="/Content/images/niptNew/images/nipt/s2.png" alt="" /></div>
                            <div class="item"><img class="img_sv" src="/Content/images/niptNew/images/nipt/s3.png" alt="" /></div>
                            <div class="item"><img class="img_sv" src="/Content/images/niptNew/images/nipt/s4.png" alt="" /></div>
                            <div class="item"><img class="img_sv" src="/Content/images/niptNew/images/nipt/s5.png" alt="" /></div>
                            <div class="item"><img class="img_sv" src="/Content/images/niptNew/images/nipt/s6.png" alt="" /></div>
                        </div>
                        <div class="content_text_sec4">
                            <p class="title">CHÍNH SÁCH BẢO HIỂM</p>
                            <p class="text-decoration">Bảo hiểm sau sinh (âm tính giả): 200.000.000</p>
                            <p class="text-decoration">Hỗ trợ chẩn đoán khi kết quả dương tính: 8.000.000đ</p>
                            <p class="text-decoration">Hoàn phí 100% khi kết quả dương tính giả hoặc không ra kết quả</p>
                        </div>
                        <div class="btn_submit">
                            <a href="dangkyngay">
                                <div style="margin-bottom: 10px" class="btn btn-default medlatec-btn-submitNow">
                                    <p id="btnregister1">Đăng Ký Ngay</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sec5" id="hethong">

                <div class="container doctor_list">
                    <div class="row">

                        <div class="sec21">
                            <img src="/Content/images/niptNew/images/nipt/strengths.png">
                        </div>
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="content-data">
                                    <div class="img-top">
                                        <img src="/Content/images/niptNew/images/nipt/bs1.png" alt="PGS.TS Phan Thị Hoan ">
                                    </div>
                                    <div class="context-data">
                                        <p class="number-text number1">1</p>
                                        <div class="text text1">
                                            <p class="more">
                                                Đội ngũ chuyên gia đầu ngành về Di truyền, Sản Khoa: PGS.TS Phan Thị Hoan – Nguyên phó trưởng Bộ môn Y sinh học Di truyền – ĐH Y Hà Nội; PGS.TS Hoàng Thị Ngọc Lan – Nguyên PGĐ Trung tâm Chẩn đoán trước sinh – BV Phụ sản TW và đội ngũ bác sĩ giàu kinh nghiệm;
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="content-data">
                                    <div class="img-top">
                                        <img src="/Content/images/niptNew/images/nipt/bs2.png" alt="Trung tâm xét nghiệm hàng đầu Niệt Nam">
                                    </div>
                                    <div class="context-data">
                                        <p class="number-text number2">2</p>
                                        <div class="text text1">
                                            <p>
                                                Trung tâm Xét nghiệm hàng đầu Việt Nam với hệ thống máy xét nghiệm đạt tiêu chuẩn Quốc tế ISO 15189:2012;
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="content-data">
                                    <div class="img-top">
                                        <img src="/Content/images/niptNew/images/nipt/bs3.png" alt="Medlatec làm việc 24/7">
                                    </div>
                                    <div class="context-data">
                                        <p class="number-text number1">3</p>
                                        <div class="text text1">
                                            <p>
                                                Bệnh viện làm việc tất cả các ngày trong tuần kể cả những ngày Lễ Tết;
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="content-data">
                                    <div class="img-top">
                                        <img src="/Content/images/niptNew/images/nipt/bs4.png" alt="Hệ thống medlatec">
                                    </div>
                                    <div class="context-data">
                                        <p class="number-text number2">4</p>
                                        <div class="text text1">
                                            <p>
                                                Hệ thống mạng lưới lấy mẫu xét nghiệm tận nơi phủ rộng khắp cả nước;
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="content-data">
                                    <div class="img-top">
                                        <img src="/Content/images/niptNew/images/nipt/bs5.png" alt="Hệ thống medlatec">
                                    </div>
                                    <div class="context-data">
                                        <p class="number-text number1">5</p>
                                        <div class="text text1">
                                            <p>
                                                Mẹ bầu có thẻ bảo hiểm y tế (BHYT), khi đi khám mang theo thẻ sẽ được thanh toán đúng tuyến những danh mục BHYT chi trả;
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="content-data">
                                    <div class="img-top">
                                        <img src="/Content/images/niptNew/images/nipt/bs6.png" alt="Hệ thống medlatec">
                                    </div>
                                    <div class="context-data">
                                        <p class="number-text number2">6</p>
                                        <div class="text text1">
                                            <p>
                                                Quản lý thai nghén tại MEDLATEC, hồ sơ khám chữa bệnh được lưu trữ giúp mẹ bầu dễ dàng theo dõi tình trạng sức khỏe và được nhắc nhớ tái khám;
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="content-data">
                                    <div class="img-top">
                                        <img src="/Content/images/niptNew/images/nipt/bs7.png" alt="Hệ thống medlatec">
                                    </div>
                                    <div class="context-data">
                                        <p class="number-text number2">7</p>
                                        <div class="text text1">
                                            <p>
                                                Thực hiện liên kết với hơn 20 bệnh viện đầu ngành phục vụ mẹ bầu trong trường hợp cần điều trị chuyên sâu;
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            @using (Html.BeginForm("niptNew", "Landing", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.Raw(TempData["msg"])

                @Html.AntiForgeryToken()

                <div class="register-main2">
                    <div class="">
                        <div class="feedback-customer-3" id="dangkyngay">
                            <div class="row justify-content-center" style="margin-left:0px;margin-right:0px;">
                                <div class="regis">
                                    <div class="register-form" style="">
                                        <p>Đăng ký gói khám</p>
                                        <div class="ct_form">
                                            <div class="form-group col-md-12 col-sm-12 col-12">
                                                @Html.TextBoxFor(m => m.txthoten, new { @class = "form-control", placeholder = "Họ và Tên(*)", type = "text" })

                                                
                                            </div>
                                            <div class="form-group col-md-12 col-sm-12 col-12">
                                                @Html.TextBoxFor(m => m.txtdt, new { @class = "form-control", placeholder = "Số điện thoại(*)", type = "number" })

                                                
                                            </div>
                                            <div class="form-group col-md-12 col-sm-12 col-12">
                                                @Html.TextBoxFor(m => m.txtAddress, new { @class = "form-control", placeholder = "Địa chỉ(*)", type = "text" })

                                               
                                            </div>
                                            <div class="form-group col-md-12 col-sm-12 col-12">
                                                @Html.DropDownListFor(m => m.Dichvu, this.ViewBag.GetDichvu as List<SelectListItem>, new { @class = "form-control inputtext", style = "text-align-last:center;", onchange = "Dichvu(this)" })

                                                @*<select class="form-control inputtext" placeholder="Chọn địa điểm (*)">
                                                    <option selected="selected" value="1">Gói NIPT-BASIC 6 ngày </option>
                                                    <option selected="selected" value="2">Gói NIPT-PRO 6 ngày</option>
                                                    <option selected="selected" value="3">Gói NIPT-PLUS</option>
                                                    <option selected="selected" value="4">Gói NIPT-TWIN</option>
                                                    <option selected="selected" value="5">Gói NIPT-BASIC 4 ngày</option>
                                                    <option selected="selected" value="6">Gói NIPT-PRO 4 ngày</option>
                                                    <option value="" disabled selected hidden="">Chọn gói khám</option>
                                                </select>*@
                                            </div>
                                            <div class="form-group col-md-12 col-sm-12 col-12">

                                                @Html.TextBoxFor(m => m.noidung, new { @class = "form-control", placeholder = "Ghi chú", type = "text" })

                                                
                                            </div>

                                            <div class="form-group form-group--btn" style="">
                                                <button class="btn btn-default medlatec-btn-submitNow" type="submit" name="submit" value="SaveAdd">ĐĂNG KÝ NGAY</button>

                                                
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div class="call-hotline">
                <a href="tel:1900 565656"><img src="/Content/images/niptNew/images/icon/call.png" alt="hotline 1900 565656">1900 565656</a>
            </div>
            <div class="chat">
                <a href=""><img src="https://file-subiz.com/fiqrapewtouyinboouwt-subiz_button.svg" alt="chat với chúng tôi"></a>
            </div>


</body>
</html>
