@using CaptchaMvc.HtmlHelpers;
@using MEDLATEC.BusinessLayer;
@model  MEDLATEC2019.Models.MPTXViewModel
@{
    Layout = null;
}

<meta charset="UTF-8">
<meta http-equiv=”Content-Type” content=”text/html; charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="apple-touch-icon" sizes="180x180" href="/Content/images/logochuan-01.png">
<link rel="icon" type="image/png" sizes="32x32" href="/Content/images/logochuan-32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/Content/images/logochuan-16.png">

<title>MEDLATEC đồng hành cùng mẹ chăm sóc bảo vệ sức khỏe của bé | Bệnh viện đa khoa Medlatec</title>

<meta name="description" content="@Html.Raw("MEDLATEC đồng hành cùng mẹ chăm sóc bảo vệ sức khỏe của bé.")" />


<meta name="title" content="@Html.Raw("MEDLATEC đồng hành cùng mẹ chăm sóc bảo vệ sức khỏe của bé | Bệnh viện đa khoa Medlatec")" />

<meta name="keywords" content="@Html.Raw("MEDLATEC đồng hành cùng mẹ chăm sóc bảo vệ sức khỏe của bé")" />



<meta property="og:description" content="@Html.Raw("MEDLATEC đồng hành cùng mẹ chăm sóc bảo vệ sức khỏe của bé.")" />
<meta property="og:title" content="@Html.Raw("MEDLATEC đồng hành cùng mẹ chăm sóc bảo vệ sức khỏe của bé | Bệnh viện đa khoa Medlatec")" />



<meta property="og:image" content="https://medlatec.vn/Content/images/quisleShopee/img/Asset.png" />


<meta property="og:image:secure_url" content="https://medlatec.vn/Content/images/quisleShopee/img/Asset.png" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="1110" />
<meta property="og:image:height" content="514" />

<meta property="og:type" content="article" />
<meta property="fb:app_id" content="2092985977431269" />


<meta property="og:url" content="https://medlatec.vn/dich-vu/Medlatec-dong-hanh-cung-me-cham-soc-bao-ve-suc-khoe-cua-be" />
<meta name="robots" content="index,follow,all">

<link rel="canonical" href="https://medlatec.vn/dich-vu/Medlatec-dong-hanh-cung-me-cham-soc-bao-ve-suc-khoe-cua-be" />

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<!--  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap">-->
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
<link rel="stylesheet" href="/Content/images/quisleShopee/lib/css/owl.carousel.min.css">
<link rel="stylesheet" href="/Content/images/quisleShopee/lib/css/owl.theme.default.min.css">
<link rel="stylesheet" href="/Content/images/quisleShopee/reset.css">
<link rel="stylesheet" href="/Content/images/quisleShopee/home.css">
<link rel="stylesheet" href="/Content/images/quisleShopee/responsive.css">



<meta name="robots" content="index,follow,all">
<link rel="canonical" href="https://medlatec.vn" />



<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-20501699-10"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-20501699-10');
</script>


<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WG5728Z"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- Google Tag Manager -->
<script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-WG5728Z');</script>
<!-- End Google Tag Manager -->

<!DOCTYPE html>

<html>

<body>

    <script type="text/javascript">
        if (window.location.protocol == "http:") {
            var restOfUrl = window.location.href.substr(5);
            restOfUrl = restOfUrl.replace("www.", "");
            window.location = "https:" + restOfUrl;[w]
        }
    </script>


    <section class="home-page--content">
        <header>
            <div class="container container1 nav-menu--wrapper">
                <ol>
                    <li class="menu-active" style="float:left;"><a href="https://medlatec.vn" style="padding-top:10px;"><img src="/Content/images/quisleShopee/img/icon/logochuan-01.png" style="max-width:70px;" alt="trang chủ" /></a></li>

                    <li class="has-children" style="float:right;">
                        <a style="color:#F9E484; text-decoration: none;" href="#formInput" id="regSubmit6" title="Đăng ký ngay">Đăng ký ngay</a>

                    </li>
                    <li class="has-children" style="float:right;">
                        <a style="color: white; text-decoration: none;" href="#service" title="Đội ngũ chuyên gia">Hệ thống trang thiết bị</a>

                    </li>
                    <li class="has-children" style="float:right;">
                        <a style="color: white; text-decoration: none;" href="#introduce" title="Cách phòng tránh">Giới thiệu</a>

                    </li>
                    <li class="has-children" style="float:right;">
                        <a style="color: white; text-decoration: none;" href="#package">Gói ưu đãi</a>

                    </li>
                </ol>
            </div>
        </header>
        <section class="content-nav-box">
            <div class="slider-header">
                <div class="owl-carousel" id="headerNav">
                    <div class="item">
                        <a href="">
                            <div class="thumb">
                                <div class="box-content">
                                    <img src="/Content/images/quisleShopee/img/Asset.png" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <div class="thumb">
                                <div class="box-content">
                                    <img src="/Content/images/quisleShopee/img/Asset.png" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <div class="thumb">
                                <div class="box-content">
                                    <img src="/Content/images/quisleShopee/img/Asset.png" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <div class="thumb">
                                <div class="box-content">
                                    <img src="/Content/images/quisleShopee/img/Asset.png" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="Sec2_backGround container1">
                <div class="content-box2">
                    <div class="container fix-container">
                        <div class="content-data">
                            <p>Click chọn gói khám - <span>ưu đãi ngập tràn</span></p>
                            <div class="conent-text--sec2"></div>
                        </div>
                    </div>
                </div>

                <div class="content-box3 ">
                    <div class="container fix-container">
                        <div id="package" class="sec2-box3-title">
                            <p class="title-box3">khách hàng chọn 1 trong các gói sau</p>
                        </div>
                        <div class="block-content-data">
                            <div class="owl-carousel" id="blockbox3">
                                <div class="item fix-postion">
                                    <div class="box-sank"></div>
                                    <div class="box-count">01</div>
                                    <div class="text-content">

                                        <div class="content-text--hover">
                                            <p class="title">ưu đã giảm giá</p>
                                            <p class="price"><strike>2.060.000đ</strike></p>
                                            <p class="promotion"><span>chỉ còn:</span>1.400.000đ</p>
                                            <p class="noidungkhuyenmai">Áp dụng tại hệ thống Bệnh viện, phòng khám MEDLATEC, dịch vụ lấy mẫu tận nơi.</p>
                                            <div class="dangky">
                                                <p class="btn btn-reg" id="regSubmit">
                                                    <a style="color:#F9E484; text-decoration: none;" href="#formInput" title="Tìm hiểu ngay">
                                                        Tìm hiểu ngay
                                                    </a>


                                                </p>
                                            </div>
                                        </div>
                                        <!--//-->
                                        <div class="img-content">
                                            <div class="hover-content-img">
                                                <div class="content-img">
                                                    <img src="/Content/images/quisleShopee/img/set3-kham.png">
                                                </div>
                                                <div class="text-title">
                                                    <p>Gói khám tổng quát cơ bản và vi chất cho Nhi</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="item fix-postion colorFix02">
                                    <div class="box-sank"></div>
                                    <div class="box-count">02</div>
                                    <div class="text-content">

                                        <div class="content-text--hover">
                                            <p class="title">ưu đã giảm giá</p>
                                            <p class="price"><strike>2.801.000đ</strike></p>
                                            <p class="promotion"><span>chỉ còn:</span>1.960.000đ</p>
                                            <p class="noidungkhuyenmai">Áp dụng tại hệ thống Bệnh viện, phòng khám MEDLATEC, dịch vụ lấy mẫu tận nơi</p>
                                            <div class="dangky">
                                                <p class="btn btn-reg" id="regSubmit1">
                                                    <a style="color:#F9E484; text-decoration: none;" href="#formInput" title="Tìm hiểu ngay">
                                                        Tìm hiểu ngay
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                        <!--//-->
                                        <div class="img-content">
                                            <div class="hover-content-img">
                                                <div class="content-img">
                                                    <img src="/Content/images/quisleShopee/img/Asset37.png">
                                                </div>
                                                <div class="text-title">
                                                    <p>Gói khám tổng quát chuyên sâu và vi chất cho Nhi</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item fix-postion colorFix03">
                                    <div class="box-sank"></div>
                                    <div class="box-count">03</div>
                                    <div class="text-content">
                                        <div class="content-text--hover">
                                            <p class="noidungkhuyenmai km1"><span style="color: red;">Miễn phí</span> khám chuyên khoa Nhi cùng chuyên gia tại hệ thống Bệnh viện, phòng khám MEDLATEC trị giá lên đến</p>
                                            <p class="title1 tl1">129.000đ</p>
                                            <div class="dangky dk1">
                                                <p class="btn btn-reg" id="regSubmit2">
                                                    <a style="color:#F9E484; text-decoration: none;" href="#formInput" title="Tìm hiểu ngay">
                                                        Tìm hiểu ngay
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                        <!--//-->
                                        <div class="img-content">
                                            <div class="hover-content-img">
                                                <div class="content-img">
                                                    <img src="/Content/images/quisleShopee/img/Asset38.png">
                                                </div>
                                                <div class="text-title">
                                                    <p>Miễn phí khám chuyên khoa Nhi</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item fix-postion colorFix04">
                                    <div class="box-sank"></div>
                                    <div class="box-count">04</div>
                                    <div class="text-content">

                                        <div class="content-text--hover">
                                            <p class="noidungkhuyenmai1">Nhận ngay Voucher giảm</p>
                                            <p class="title1">200.000đ</p>
                                            <p class="noidungkhuyenmai2">khi sử dụng dịch vụ từ</p>
                                            <p class="title2">1.000.000đ</p>
                                            <div class="dangky dk2">
                                                <p class="btn btn-reg" id="regSubmit3">
                                                    <a style="color:#F9E484; text-decoration: none;" href="#formInput" title="Tìm hiểu ngay">
                                                        Tìm hiểu ngay
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                        <!--//-->
                                        <div class="img-content">
                                            <div class="hover-content-img">
                                                <div class="content-img">
                                                    <img src="/Content/images/quisleShopee/img/Asset39.png">
                                                </div>
                                                <div class="text-title">
                                                    <p>Nhận ngay Voucher giảm 200.000 đ </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sec51 container2">
                <div class="content-box2">
                    <div class="container fix-container">
                        <div class="content-data">
                            <p>Click chọn gói khám - <span>ưu đãi ngập tràn</span></p>
                            <div class="conent-text--sec2"></div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="content-sec51" id="hethong">
                        <p class="title">KHÁCH HÀNG CHỌN 1 TRONG CÁC GÓI SAU</p>
                        <div class="sec51-selider">
                            <div class="dichvu1">
                                <div class="item col-sm-6 col-sm-6 dv1">
                                    <a href="#formInput">
                                        <div class="img-conent tb1">
                                            <img src="/Content/images/quisleShopee/img/goi1.png" alt="">
                                        </div>
                                    </a>
                                </div>
                                <div class="item col-sm-6 col-sm-6 dv1">
                                    <a href="#formInput">
                                        <div class="img-conent tb1">
                                            <img src="/Content/images/quisleShopee/img/goi2.png" alt="">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="sec51-selider">
                            <div class="dichvu1" id="sec6">
                                <div class="item col-sm-6 col-sm-6 dv1">
                                    <a href="#formInput">
                                        <div class="img-conent tb1">
                                            <img src="/Content/images/quisleShopee/img/goi3.png" alt="">
                                        </div>
                                    </a>
                                </div>
                                <div class="item col-sm-6 col-sm-6 dv1">
                                    <a href="#formInput">
                                        <div class="img-conent tb1">
                                            <img src="/Content/images/quisleShopee/img/goi4.png" alt="">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @using (Html.BeginForm("quisleShopee", "Landing", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                <footer>
                    <div class="container fix-container" id="formInput">
                        <div class="from-input">
                            <div class="title-from">
                                <p>Đăng ký nhận ưu đãi</p>
                            </div>
                            <div class="input-form">
                                <form action="" id="formInput">
                                    @Html.TextBoxFor(m => m.txthoten, new { @class = "form-control inputtext TenKhachHang", autocomplete = "off", placeholder = "Họ tên khách hàng(*)", type = "text" })
                                    @Html.TextBoxFor(m => m.txtdt, new { @class = "form-control inputtext Sodt", autocomplete = "off", placeholder = "Số điện thoại(*)", type = "text" })
                                    @Html.TextBoxFor(m => m.txtAddress, new { @class = "form-control inputtext diachi", autocomplete = "off", placeholder = "Địa chỉ(*)", type = "text" })

                                    @Html.DropDownListFor(m => m.Dichvu, this.ViewBag.GetDichvu as List<SelectListItem>, new { @class = "form-control inputtext goikham", style = "text-align-last:center;" })



                                </form>



                                <div class="submit-from-data">

                                    @if (!string.IsNullOrEmpty(Model.txtError))
                                    {
                                        if (Model.txtError.Length > 0)
                                        {

                                            <span class="text-danger" style="margin-bottom:10px; background-color:white;">
                                                @Model.txtError
                                            </span>

                                        }
                                    }

                                    <button type="submit" name="submit" class="btn btn-submit--from" id="IDfromsubmit" value="SaveAdd">GỬI YÊU CẦU</button>



                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            }



            <div class="sec3">
                <div class="container fix-container">
                    <div class="contentData">
                        <p class="title">medlatec đồng hành cùng mẹ chăm sóc bảo vệ sức khỏe của bé</p>
                        <div class="conent-data--sec3">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="img-content--sec3">
                                        <img src="/Content/images/quisleShopee/img/set3-kham.png" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-content--sec3">
                                        <ul>
                                            <li>
                                                <div class="pig-content">
                                                    <div class="bg-insert">

                                                    </div>
                                                    <p>
                                                        MEDLATEC triển khai các Gói khám tổng quát từ cơ bản đến chuyên sâu và vi chất cho Nhi
                                                        Giúp phát hiện sớm các thiếu hụt vi chất. Những vi chất này đóng vai trò quan trọng trong
                                                        tăng trưởng, phát triển trí tuệ, duy trì và nâng cao sức khỏe bệnh nhân, Phòng chống bệnh tật ở trẻ từ đó đưa ra phác đồ bổ sung cho trẻ sao cho phù hợp nhất.
                                                    </p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="pig-content pig-content1">
                                                    <div class="bg-insert"></div>
                                                    <p>Nên kiểm tra vi chất định kỳ 6 tháng đến 1 năm 1 lần. </p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="pig-content pig-content2">
                                                    <div class="bg-insert"></div>
                                                    <p>Gói khám được thiết kế khoa học. Tính thực tiễn cao nhằm tiếp cận được toàn bộ tình trạng sức khỏe của trẻ.</p>
                                                </div>
                                            </li>
                                            <div class="pig-pic"></div>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="sec4">
                <div class="container fix-container">
                    <div id="introduce" class="content-sec4">
                        <p class="title">an tâm thăm khám tại BVDK medlatec</p>
                        <div class="img-content--sec4">

                            <div class="owl-carousel sec4Content" id="sec4Content1">
                                <div class="item">
                                    <div class="thumnaiConent">
                                        <div class="content-thumnai">
                                            <div class="img">
                                                <img src="/Content/images/quisleShopee/img/Asset40.png" alt="">
                                            </div>
                                            <div class="text">
                                                <p>Đội ngũ chuyên gia giàu đầu ngành giàu kinh nghiệm</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="thumnaiConent ">
                                        <div class="content-thumnai row1-color2">
                                            <div class="img">
                                                <img src="/Content/images/quisleShopee/img/Asset41.png" alt="">
                                            </div>
                                            <div class="text">
                                                <p>Trang thiết bị hiện đại hỗ trợ chuẩn đoán nhanh chóng, chính xác</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="thumnaiConent">
                                        <div class="content-thumnai row1-color3">
                                            <div class="img">
                                                <img src="/Content/images/quisleShopee/img/Asset42.png" alt="">
                                            </div>
                                            <div class="text">
                                                <p>Phác đồ điều trị đạt hiệu quả tối ưu</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="owl-carousel sec4Content" id="sec4Content2">
                                <div class="item">
                                    <div class="thumnaiConent">
                                        <div class="content-thumnai row2-color1">
                                            <div class="img">
                                                <img src="/Content/images/quisleShopee/img/Asset43.png" alt="">
                                            </div>
                                            <div class="text">
                                                <p>Chi phí hợp lý, đồng thời áp dụng thanh toán bảo hiểm y tế và bảo hiểm thương mại.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="thumnaiConent">
                                        <div class="content-thumnai row2-color2">
                                            <div class="img">
                                                <img src="/Content/images/quisleShopee/img/Asset44.png" alt="">
                                            </div>
                                            <div class="text">
                                                <p>Làm việc các ngày trong tuần, kể cả Lễ, Tết</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="thumnaiConent">
                                        <div class="content-thumnai row2-color3">
                                            <div class="img">
                                                <img src="/Content/images/quisleShopee/img/Asset45.png" alt="">
                                            </div>
                                            <div class="text">
                                                <p>Dịch vụ lấy mẫu tại nhà</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="sec5">
                <div class="container-fluid fix-container">
                    <div id="service" class="content-sec5">
                        <p class="title">Hệ thống trang thiết bị hiện đại</p>
                        <div class="sec5-selider">
                            <div class="owl-carousel box-sec-one" id="sec5Content1">
                                <div class="item">
                                    <div class="img-conent">
                                        <img src="/Content/images/quisleShopee/img/benhvien.jpg" alt="">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="img-conent">
                                        <img src="/Content/images/quisleShopee/img/hethongkham2.png" alt="">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="img-conent">
                                        <img src="/Content/images/quisleShopee/img/5.png" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="owl-carousel box-sec-tow" id="sec5Content2">
                                <div class="item">
                                    <div class="img-conent">
                                        <img src="/Content/images/quisleShopee/img/hethongkham1.png" alt="">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="img-conent">
                                        <img src="/Content/images/quisleShopee/img/MED_2590.jpg" alt="">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="img-conent">
                                        <img src="/Content/images/quisleShopee/img/hethongkham3.png" alt="">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>





</body>

</html>

<!-- 2020-10-12 15:35:38 PhucVM-->
<!-- CDN JQUERY -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js "></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js "></script>
<!--lib js-->
<script src="/Content/images/quisleShopee/lib/js/owl.carousel.min.js "></script>
<script src="/Content/images/quisleShopee/home.js"></script>

<script>!function (s, u, b, i, z) { var o, t, r, y; s[i] || (s._sbzaccid = z, s[i] = function () { s[i].q.push(arguments) }, s[i].q = [], s[i]("setAccount", z), r = ["widget.subiz.net", "storage.googleapis" + (t = ".com"), "app.sbz.workers.dev", i + "a" + (o = function (k, t) { var n = t <= 6 ? 5 : o(k, t - 1) + o(k, t - 3); return k !== t ? n : n.toString(32) })(20, 20) + t, i + "b" + o(30, 30) + t, i + "c" + o(40, 40) + t], (y = function (k) { var t, n; s._subiz_init_2094850928430 || r[k] && (t = u.createElement(b), n = u.getElementsByTagName(b)[0], t.async = 1, t.src = "https://" + r[k] + "/sbz/app.js?accid=" + z, n.parentNode.insertBefore(t, n), setTimeout(y, 2e3, k + 1)) })(0)) }(window, document, "script", "subiz", "acqqygtujcouievpmxgd")</script>


<script type="application/ld+json">
    {
    "@@context": "http://schema.org",
    "@@type": "LocalBusiness",
    "@@id":"https://medlatec.vn",
    "priceRange":"$$",
    "image":"https://medlatec.vn/Content/images/logo.jpg",
    "name" : "Bệnh Viện Đa Khoa Medlatec",
    "telephone": "+841900565656",
    "address": {
    "@@type": "PostalAddress",
    "streetAddress": "Số 42 - 44 Nghĩa Dũng, Phúc Xá, Ba Đình",
    "addressLocality": "Hà Nội"
    },
    "potentialAction": {
    "@@type": "OrderAction",
    "target": {
    "@@type": "EntryPoint",
    "urlTemplate": "https://medlatec.vn/dat-lich-lay-mau",
    "inLanguage": "vi-VN",
    "actionPlatform": ["http://schema.org/DesktopWebPlatform"]
    }}}
</script>
<script type="application/ld+json">
    {
    "@@context": "http://schema.org",
    "@@type": "Hospital",
    "priceRange":"$$",
    "@@id":"https://medlatec.vn",
    "image":"https://medlatec.vn/Content/images/logo.jpg",
    "name" : "Bệnh Viện Đa Khoa Medlatec",
    "telephone": "+841900565656",
    "openingHours": "Mo-Su 00:00-24:00",
    "ContactPoint": {
    "telephone": "+841900565656",
    "contactType": "sales",
    "contactOption": "TollFree",
    "areaServed": "VN"},
    "sameAs":"https://www.facebook.com/BenhVienDaKhoaMedlatec",
    "slogan":"Dịch vụ tốt, công nghệ cao",
    "founder":[{
    "@@type":"Person",
    "name":"Thầy thuốc Nhân dân Nguyễn Anh Trí ",
    "url":"https://vi.wikipedia.org/wiki/Nguyễn_Anh_Trí",
    "@@id":"https://vi.wikipedia.org/wiki/Nguyễn_Anh_Trí",
    "sameAs":["https://www.facebook.com/tri.1957"]
    }]
    }

</script>

